* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.text-center {
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 40px auto;
}

.left {
    width: 70%;
    float: left;
}

.right {
    width: 30%;
    float: left;
}

.course-js {
    width: 200px;
    border: 2px solid orange;
    padding: 5px;
    text-align: center;
    line-height: 150%;
    margin-bottom: 30px;
}

.course-js h3 {
    margin: 15px 0;
}

.course-js h2 {
    margin: 30px 0;
    line-height: 130%;
    position: relative;
    z-index: 2;
}

.bg {
    position: relative;
}

.bg::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    left: 0;
    width: 90%;
    height: 90%;
    background: orange;
    z-index: 1;
    margin: 2.55% 5% 0 5%;
    transform: rotate(-10deg);
}

.green {
    border: 2px solid green
}

.bg-green {
    position: relative;
}

.bg-green::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    left: 0;
    width: 90%;
    height: 90%;
    background: #9bfeb5;
    z-index: 1;
    margin: 2.55% 5% 0 5%;
    transform: rotate(-10deg);
}

h1 {
    margin-bottom: 40px;
}

/* ======================== */

.square {
    width: 128px;
    height: 128px;
    float: left;
    margin: 10px;
    border: 1px solid #c0c0c0;
}

.container-line::after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

img {
    width: 500px;
    height: 500px;
    display: block;
}

a {
    text-decoration: none;
    color: #222;
}
