*,
*:after,
*:before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.contacts__inner {
  img {
    margin-bottom: 20px;
    width: 50px;
  }
}

.info {
  width: 90px;
}

li {
  cursor: pointer;
  position: relative;
  padding-left: 40px;
  display: flex;
  list-style: none;
  transition: all .2s linear;
 

  &:hover {
    padding-left: 55px;
    font-weight: bold;

    .logos {
      width: 50px;
    }

    &:last-child {
      padding-left: 50px;

      .logos {
        width: 30px;
        height: 65px;
      }

    }
  }

  .logos {
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 10px;
    width: 30px;
    height: 50px;
    transition: all .2s linear;
  }
}

body {
  background: #fff;
  margin: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

.contacts {
  position: absolute;
  top: 30%;
  z-index: 100;
}
.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: flex;
  justify-content: space-between;
}
/*
button {
  padding: 5px;

  img {
    width: 20px;
  }
}

button {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 10em;
  height: 4em;
  line-height: 2em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: #000;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #ddd inset, 0 1px 1px #fff;
}

button:hover {
  background: #dcdcdc linear-gradient(#fff, #dcdcdc);
  box-shadow: 0 0 0 1px #aaa inset, 0 1px 1px #aaa;
}

button:active {
  background: none;
    box-shadow: 0 0 0 1px #bbb inset, 0 1px 3px rgba(0,0,0,.5) inset, 0 1px 2px #fff;
}
*/
#body_button{
  margin: 0;
  padding: 0;
  color: #0000FF;
  
  text-align: center;
  .button_hola{
    &.red {
      color: #ff0000;
    }
  }
}
.button_hola,
.button_hola::before,
.button_hola::after,
.button_hola span,
.button_hola span::before,
.button_hola span::after
{
  transition: all ease .5s;
}
 
.button_hola{
  position: relative;
  display: inline-block;
  padding: 0.3em;
  margin: 1em;
  border: solid 1px;
  text-transform: uppercase;
  cursor: pointer;
}
 
.button_hola:hover
{
  box-shadow: 0 0 5em .5em rgba(50,50,150,0.5);
}
 
.button_hola span
{
  display: inline-block;
  width: 100%;
  padding: 0.6em 2em;
}
 
.button_hola:hover span
{
  background-color: #fff;
  color: #112;
}
 
.button_hola::before,
.button_hola::after,
.button_hola span::before,
.button_hola span::after
{
  content: '';
  position: absolute;
  border: 1px;
}
 
.button_hola::before,
.button_hola span::before
{
  border-style: solid none;  
}
 
.button_hola::before,
.button_hola span::after{      
  left: 0;
  top: -0.4em;
  width: 100%; 
  height: calc(100% + 0.8em);
}
 
.button_hola::after,
.button_hola span::after
{
  border-style: none solid;   
}
 
.button_hola::after,
.button_hola span::before
{
  top: 0;
  left: -0.4em;
  height: 100%;
  width: calc(100% + 0.8em); 
}
 
.button_hola:hover::after,
.button_hola:hover span::after
{
  transform: scaleY(0);
}
 
.button_hola:hover::before,
.button_hola:hover span::before
{
  transform: scaleX(0);
}
 
.button_hola:hover span::after,
.button_hola:hover span::before
{
  opacity: 0;
}