/*  HEADER  */
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    line-height: 24px;
}
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.header {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-bottom: 270px;
}
.header-top {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 141px;
}
.logo a {
    display: inline-block;
    margin: 0;
}
.menu__list {
    display: flex;
}
.menu__list li + li {
    margin-left: 50px;
}
.menu__list li a {
    color: #fff;
    opacity: 0.5;
}
.menu__list li a:hover,
.menu__list li a:active {
    opacity: 1;
}

.login {
    color: #fff;
    margin-right: 44px;
}
.btn {
    display: inline-block;
    border-radius: 20px;
    background-color: #fff;
    font-weight: 600;
    font-size: 15px;
    color: #250F8A;
    padding: 8px 43px;
    line-height: 24px;
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.5);
}
.btn:hover {
    box-shadow: inset 1px 1px 3px 0px rgba(0,0,0,0.5);
}
.btn:active {
    box-shadow: inset 1px 1px 10px 2px rgba(0,0,0,0.5);
}

.hidden {
    display: none;
}
/*************************************/
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
/***********************************************/





.popup {
    /* background-color: rgba(255,255,255,.2); */
    padding: 10px;
    max-width: 500px;
    border-radius: 20px;
    margin: 0 auto;
    transition: 1s;
    transform: scale(1);
}
.popup a {
    transition: .5s;
    color: #298cad;
}
.popup input {
    display: block;
    width: 100%;
}
.tab-form {
    background: #fff;
    display: none;
    padding: 30px 20px 20px;
}
.tab-form.active {
    background: #fff;
    display: block;
}
.tab {
    color: #fff;
    font-weight: 600;
    padding: 15px;
    display: inline-block;
    cursor: pointer;
}
.tab.active {
    background: #fff;
    color: #250F8A;
    /* border-radius: 20px 20px 0 0; */
}
.input {
    font-size: 16px;
    border: 2px solid #e9eaea;
    border-radius: 20px;
    padding: 12px 14px;
    margin-bottom: 22px;
    color: #250F8A;
    outline: none;
    box-sizing: border-box;
}
.forgot {
    display: inline-block;
    margin-left: 25px;
    font-size: 12px;
    color: #250F8A;
}
.header-slider__item {
    outline: none;
}
.header-slider__item-content {
    display: flex;
}
.header-slider__item-info {
    max-width: 505px;
    color: #fff;
}
.header-slider__title {
    font-size: 45px;
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 10px;
}
.header-slider__description {
    font-size: 24px;
    line-height: 55px;
    margin-bottom: 60px;
}
.header-slider__btn {
    background: #FFCA00;
    padding: 13px 43px;
    border-radius: 25px;
}
.header-slider__item-images {
    max-width: 516px;
    max-height: 301px;
    margin-left: 66px;
    padding-top: 30px;
}
.header-slider__item-images img {
    object-fit: cover;
    max-width: 100%;
    max-height: 301px; 
}
.header-dots {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

}
.header-dots button {
    border: none;
    background-color: #fff;
    opacity: 0.5;
    font-size: 0;
    padding: 0;
    width: 7px;
    height: 7px;
    border-radius: 3.5px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
}
.header-dots .slick-active button {
    width: 15px;
    opacity: 1;
    outline: none;
}
/* SPECIALIZATION */
.specialization {
    padding-top: 40px;
    padding-bottom: 93px;
    background-image: url("../img/spec-bg.svg");
    background-repeat: no-repeat;
    background-position: left center;
}
.title {
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
}
.specialization__title {
    margin-bottom: 96px;
}
.specialization__items {
    display: flex;
    justify-content: center;
    text-align: center;
}
.specialization__item {
    max-width: 280px;
    max-height: 280px;
    margin: 0 35px;
}
.specialization__item-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #202020;
    margin-top: 23px;
}
.specialization__item-text {
    font-size: 15px;
    line-height: 24px;
    color: #272727;
    opacity: 0.7;
    margin-top: 11px;
}
/* ADVANTAGES */
.advantages {
    padding-top: 64px;
    background-color: #F4F9FD;
    background-image: url("../img/decor-3.svg");
    background-repeat: no-repeat;
    background-position: right;
}
.advantages-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 76px;
}
.advantages-box--reverse .advantages-box__info {
    order: 1;
    background-image: url("../img/decor-4.svg");
    background-position: 22px 130px;
}
.advantages-box__info {
    max-width: 456px;
    padding-top: 60px;
    background-image: url("../img/decor-2.svg");
    background-repeat: no-repeat;
    background-position: 22px 76px;
}
.advantages-box__info--bg {
    background-image: url("../img/decor-5.svg");
    background-position: 5px 105px;
}
.advantages-box__title {
    color: #202020;
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    padding: 68px 0 15px 48px;
}
.advantages-box__text {
    padding-left: 48px;
    color: #272727;
}
.advantages-box__text p {
    margin: 12px 0;
}
/* REVIEWS */
.reviews {
    background-image: url("../img/reviews-bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 38px 0 82px;
    color: #fff;
}
.reviews__title {
    margin: 0 auto 48px;
    max-width: 384px;
}
.reviews__items {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.reviews__item {
    width: 280px;
    border-radius: 5px;
    background-color: rgba(255,255,255,.2);
    padding: 35px 10px;
}
/* .reviews__item + .reviews__item {
    margin-left: 20px;
} */
.reviews__item-head {
    margin-bottom: 13px;
    display: flex;
}
.reviews__item-head img {
    border-radius: 50%;
    margin-right: 20px;
}
.reviews__item-name {
    font-weight: 600;
}
.reviews__item-position {
    opacity: 0.5;
}
.reviews__item-text {
    text-align: center;
    padding-top: 39px;
    position: relative;
}
.reviews__item-text::before {
    content: '“';
    font-size: 40px;
    line-height: 55px;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    color: #272727;
    padding: 20px 40px 17px;
}
.footer__link a + a {
    margin-left: 20px;
}

/* RESPONSIVE */
@media (max-width: 1620px) {
    .advantages {
        background-image: none;
    }
}
@media (max-width: 1201px) {
    .specialization {
        background-size: 60px;
    }
}
@media (max-width: 1190px) {
    .header-slider__item-images {
        margin: 10px 20px 0 0;
    }
    .header-slider__item-images img {
        width: 80%;
        margin: 0 auto;
    }
    .header-slider__item-info {
        padding: 50px 0;
    }
    .advantages-box {
        justify-content: space-around;
    }
    .advantages-box__images {
        text-align: center;
    }
    .advantages-box__images img {
        width: 80%;
    }
    .advantages-box--reverse .advantages-box__title {
        padding: 30px 0 15px 20px;
    }
    .advantages-box--reverse .advantages-box__text {
        padding-left: 20px;
    }
    .advantages-box--reverse .advantages-box__info {
        padding-right: 30px;
    }
}
@media (max-width: 1080px) {
    .specialization {
        background-image: none;
    }
    .advantages-box__info {
        padding-top: 10px;
    }
    .advantages-box--reverse .advantages-box__info {
        padding-right: 30px;
    }
    .advantages-box__images img {
        width: 71%;
        margin-top: 40px;
    }
    .reviews__items {
        flex-wrap: wrap;
    }
    .reviews__item {
        width: 46%;
        margin-bottom: 25px;
    }
}
@media (max-width: 924px) {
    .header-top {
        flex-wrap: wrap;
        padding-top: 15px;
    }
    .autorization {
        width: 100%;
        text-align: right;
    }
    .login {
        margin-right: 30px;
    }
}
@media (max-width: 900px) {
    .header-slider__item-images {
        display: none;
    }
}
@media (max-width: 858px) {
    .advantages-box__info {
        max-width: 100%;
    }
    .advantages-box {
        flex-wrap: wrap;
        padding-bottom: 20px;
    }
    .advantages-box--reverse .advantages-box__info {
        order: 0;
    }
    .advantages {
        padding-top: 0;
    }
    .advantages-box__images img {
        width: 100%;
    }
}
@media (max-width: 775px) {
    .specialization {
        padding: 20px 0 40px;
    }
    .specialization__title {
        margin-bottom: 40px;
    }
    .specialization__items {
        flex-wrap: wrap;
    }
    .specialization__item {
        width: 50%;
        margin-bottom: 30px;
    }
    .specialization__item-title {
        margin-top: 10px;
    }
}
@media (max-width: 685px) {
    .reviews__items {
        display: block;
    }
    .reviews__item {
        width: 93%;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .reviews {
        padding: 38px 0;    
    }
}
@media (max-width: 620px) {
    .footer__inner {
        display: block;
        text-align: center;
        padding: 20px 10px 17px;
    }
    .footer__link {
        margin-bottom: 10px;
    }
}
@media (max-width: 570px) {
    .menu__list {
        display: none;
        position: absolute;
        top: 140px;
        left: 0;
        text-align: center;
        width: 100%;
        background-color: #1a50a8;
        z-index: 5;
    }
    .menu__list li + li {
        margin-left: 0;
    }
    .menu__list a {
        display: block;
        padding: 10px 0;
    }
    .menu__btn {
        display: inline-block;
        width: 50px;
        height: 50px;
        position: relative;
    }
    .menu__btn span,
    .menu__btn span::before,
    .menu__btn span::after {
        position: absolute;
        top: 50%; margin-top: -2px;
        left: 50%; margin-left: -15px;
        width: 30px;
        height: 3px;
        background-color: #fff;
    }
    .menu__btn span::before,
    .menu__btn span::after {
        content: "";
        transition: 0.2s;
    }
    .menu__btn span::before {
        transform: translateY(-8px);
    }
    .menu__btn span::after {
        transform: translateY(8px);
    }
    .menu__btn--active span::before {
        transform: rotate(45deg);
    }
    .menu__btn--active span::after {
        transform: rotate(-45deg);
    }
    .menu__btn--active span {
        height: 0;
    }
    .menu--active {
        transform: translateY(0%) scaleY(1);
        opacity: 1;
    }
    .header-slider__item-info {
        padding: 10px 30px 10px 0;
    }
    .header {
        min-height: 580px;
    }
    .header-slider__description {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 35px;
    }
    .header-slider__title {
        font-size: 35px;
        line-height: 45px;
    }
    .specialization__items {
        display: block;
    }
    .specialization__item {
        width: 100%;
        margin: 0 auto 30px;
    }
    .title {
        font-size: 30px;
        line-height: 40px;
    }
    .advantages-box__title {
        padding: 68px 0 15px 0;
        font-size: 30px;
        line-height: 40px;
    }
    .advantages-box__text {
        padding-left: 0;
    }
    .advantages-box--reverse .advantages-box__title {
        padding: 30px 0 15px 0;
    }
    .advantages-box--reverse .advantages-box__text {
        padding-left: 0;
    }
    .popup {
        width: 90%;
    }
    
}
@media (min-width: 571px) {
    .menu__list {
        display: flex !important;
    }
}