@import "vars";
@import "libs";
@import "fonts";
@import "global";
@import "slick";

.s1 {
  position: relative;
  padding-top: 15px;
  background: url(../img/s1-bg.png) no-repeat;
  .s1-block-top {
    display: flex;

    .s1-block-top-text {
      display: flex;
      margin-left: 16px;
      align-items: center;
      p {
        padding-left: 10px;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}

.s1-title {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: -10px;

  h1 {
    padding: 0 10px;
    width: 368px;
    text-align: center;
    margin: 15px 0 30px 0;

    position: relative;
    font-size: 54px;
    font-weight: bold;

    border-radius: 0 15px 15px 0;
    background-image: linear-gradient(
      to right,
      rgba(255, 100, 100, 0.9),
      rgba(255, 124, 220, 0.9)
    );
  }

  .s1-suptitle {
    margin-left: 30px;
    width: 186px;
    height: 186px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-image: linear-gradient(
      to top,
      rgba(135, 138, 255, 0.9),
      rgba(204, 123, 255, 0.9)
    );
    p {
      font-size: 24px;
      font-weight: bold;
      span {
        line-height: 30px;
        font-size: 36px;
      }
    }
  }
}

.s1-block {
  position: absolute;
  top: 194px;
  left: 194px;
  padding-left: 85px;
  padding-top: 5px;
  font-size: 18px;
  font-weight: bold;

  p {
    font-weight: bold;
  }
}

.s1-list {
  display: flex;
  justify-content: space-around;

  text-align: center;
  margin-bottom: 37px;
  .s1-list-item {
    width: 34%;
    p {
      padding: 0 20px;
      span {
        font-weight: bold;
      }
    }
  }
}

.s1-block-band {
  margin-left: 48px;
  position: relative;
  width: 144px;
  height: 415px;
  background: url(../img/icon-watch.png) no-repeat;
  margin-bottom: 50px;
  .s1-band,
  .s1-band-2 {
    width: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 125px;
    left: 23px;
    animation-name: fade;
    animation-duration: 3s;
    animation-iteration-count: infinite;

    p {
      line-height: normal;
      color: #fff;
      &.s1-band-title {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 14px;
      }
      span {
        &.num {
          font-size: 37.5px;
          font-weight: bold;
        }
        &.kcal {
          font-size: 24.5px;
          font-weight: bold;
        }
      }
    }
  }

  .s1-band-2 {
    animation-name: fade-2;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  11.11% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  44.44% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-2 {
  0% {
    opacity: 0;
  }
  11.11% {
    opacity: 0;
  }
  33.33% {
    opacity: 0;
  }
  44.44% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.discount {
  position: absolute;
  top: 730px;
  right: -12px;
  text-shadow: 0.5px 0.9px 0 rgba(17, 20, 24, 0.11);
  text-transform: uppercase;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  transform: rotate(-45deg);
}

.price {
  display: flex;
  justify-content: space-between;
}

.price-block {
  width: 100%;
  display: flex;
  flex-direction: column;

  line-height: 55px;
  .price-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
  }
}

.promo {
  text-align: center;
  padding: 20px 18px;
  border-radius: 10px;
  border: solid 3px #ffb6cf;

  font-size: 20px;
  font-weight: 500;
  span {
    font-weight: bold;
  }
}

.price-old-val {
  font-size: 32px;
  font-weight: bold;
  text-decoration: line-through;
}

.price-new-val {
  line-height: 40px;
  font-size: 42px;
  font-weight: bold;

  margin-bottom: 5px;
  letter-spacing: 0;
}
.form-wrapper {
  margin: 0 auto;

  box-sizing: border-box;
  padding-bottom: 50px;
}

.timer-cont {
  border-radius: 10px;
  border: solid 3px #ffb6cf;

  margin-bottom: 36px;
  padding: 0 20px;

  h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 10px;

    text-align: center;
  }
}

.form-wrapper-block {
  display: flex;
  margin-bottom: 40px;
}

.form-item {
  margin-top: 20px;

  input {
    &::placeholder {
      text-align: center;
      color: #222222;
    }
  }
}

.form-control {
  border: 0;
  width: 100%;

  height: 76px;

  box-sizing: border-box;

  border-radius: 10px;
  border: solid 2px rgb(234, 234, 234);
  outline: none;

  color: #222222;
  font-size: 18px;

  background-repeat: no-repeat;
  background-position: 30px center;
}

.form-control:focus {
  border: 1px solid #acacac;
}

.countryselect {
  padding-left: 110px;
  -ms-appearance: none;
  appearance: none !important;
}

.nice-select {
  float: unset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nice-select .list {
  width: 100%;
}

.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 80px;
  margin: 0 auto;
  padding: 26px;
  box-sizing: border-box;

  border: 0;
  outline: none;

  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 40px;
  background-image: linear-gradient(to right, #ff6464, #ff7cdc);
}

.form-count {
  margin: 26px 0 0;
  text-align: center;
  font-size: 16px;
  span {
    &.date_1 {
      font-weight: bold;
    }
    &.date_2 {
      font-weight: bold;
    }
  }
}

.s2 {
  padding-bottom: 50px;
  .s2-text {
    text-align: center;
    padding: 25px 0;
  }
  .s2-item {
    text-align: center;
    padding-top: 182px;
    position: relative;
    margin-bottom: 10px;
    .s2-item-list {
      display: block;
      position: absolute;
      top: -30px;
      width: 420px;

      border-radius: 15px;
      background-image: linear-gradient(to top, #878aff, #cc7bff);
      p {
        font-size: 22px;
        font-weight: bold;
        color: #fff;
      }
    }
  }
  .s2-footer {
    padding-top: 44px;
    width: 480px;
    height: 445px;
    background: url(../img/s2-footer.png) no-repeat;
    .s1-block-band {
      margin-bottom: 0;
      margin-left: 30px;
      background: none;
    }
  }
  .s2-footer-text {
    font-size: 22px;
    font-weight: bold;
    border-radius: 15px;
    color: #fff;
    padding: 20px 15px;
    text-align: center;
    background-image: linear-gradient(to right, #ff6464, #ff7cdc);
  }
}

.s3 {
  padding-bottom: 50px;
  .s3-item {
    text-align: center;
    margin-bottom: 46px;

    p {
      &.s3-title {
        font-size: 24px;
        font-weight: bold;
        line-height: 50px;
      }
    }
  }
}

.s4 {
  padding: 250px 0 50px;
  background: url(../gif/1.gif) no-repeat top;
  .s4-item {
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 21px 0 #00000019;
    background-color: #ffffff;
    padding-top: 35px;
    border: solid 2px #ffb6cf;
    h2 {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 24px;
      &::before {
        display: none;
      }
    }
    .name {
      font-size: 18px;
      font-weight: bold;
      padding: 20px 0 10px;
    }
    .prof {
      font-size: 16px;
      line-height: 1.5;
      padding: 0 40px;
      font-weight: 500;
      margin-bottom: 20px;
    }
    .text {
      line-height: 1.44;
      padding: 20px 28px;
    }
  }
}

.s5 {
  padding-bottom: 50px;
  .s5-text {
    text-align: center;
    padding: 20px 22px;
    &.middle-text {
      padding-top: 0;
    }
  }

  .s5-footer {
    text-align: center;
    padding: 20px 30px;
    border-radius: 15px;
    background-image: linear-gradient(to right, #ff6464, #ff7cdc);
    p {
      font-size: 22px;
      font-weight: bold;
      color: #fff;
      span {
        font-size: 32px;
        text-decoration: underline;
      }
    }
  }
}

.s6 {
  padding: 10px 0 30px;
  .s6-item-top {
    text-align: center;
    font-weight: 500;
    padding: 25px 20px;
    border-radius: 15px;
    border: solid 3px #ffb6cf;
    margin-bottom: 40px;
  }
}
.s6 h2 {
  margin-bottom: 30px;
}
.s6 .s6-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.s6 .s6-item .s6-item-list {
  text-align: center;
  width: 30%;
  margin-bottom: 36px;
  p {
    font-size: 16px;
  }
}
.s6 .s6-item-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  padding: 0 25px;
  margin-bottom: 40px;
}

.s7 {
  .s7-item {
    text-align: center;

    h2 {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 24px;
      &::before {
        display: none;
      }
    }
    .name {
      font-size: 18px;

      padding: 20px 0 5px;
      span {
        font-weight: bold;
      }
    }
    .prof {
      font-size: 16px;
      line-height: 1.5;
      padding: 0 40px;
      font-weight: 500;
      margin-bottom: 20px;
    }
    .text {
      font-weight: 500;
      font-style: italic;
      margin: 25px 0;
      border-radius: 10px;
      box-shadow: 0 0 21px 0 #00000019;
      background-color: #ffffff;

      border: solid 2px #ffb6cf;
      line-height: 1.44;
      padding: 20px;
    }
  }
}

.s8 {
  padding-bottom: 50px;
  text-align: center;
  ul {
    text-align: left;
    margin-bottom: 30px;
    li {
      margin-bottom: 20px;
      .s8-top {
        font-size: 16px;
        font-weight: normal;
      }
      .s8-bottom {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
  .content_toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 162px;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;

    border: 0;
    outline: none;
    text-shadow: 0.5px 0.9px 0 #1114181c;
    text-align: center;
    text-decoration: none;

    color: #ffffff;
    border-radius: 16px;
    background-image: linear-gradient(to top, #ff6464, #ff7cdc);
  }
}

.s9 {
  padding-bottom: 30px;
  position: relative;

  .container {
    padding: 0 20px;
  }
}

.header-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  .slick-active {
    button {
      width: 16px;
      height: 16px;
      opacity: 1;
      border-radius: 50%;
      background-image: linear-gradient(to top, #878aff, #cc7bff);
    }
  }
  button {
    border: none;
    width: 16px;
    height: 16px;
    background-image: linear-gradient(
      to top,
      rgba(135, 138, 255, 0.3),
      rgba(204, 123, 255, 0.3)
    );

    font-size: 0;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    margin: 10px;
  }
}

.s9-block {
  margin-bottom: 20px;
}
.s9-block.white-block {
  border-radius: 15px;
  border: solid 3px #ffb6cf;
  
  background-color: rgb(255, 255, 255);

  margin: 0 20px;
  background-color: #fff;
}
.s9-block.white-block .s9-img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  margin-bottom: 30px;
}
.s9-block.white-block .s9-text {
  margin: 0;
  margin-bottom: 27px;

  padding: 0 30px;
}

.s9-block.white-block {
  .block-name {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 30px;
    .name {
      padding-left: 20px;
      text-align: left;
    }
  }
}

.slider-s9_left {
  position: absolute;
  right: 95px;
  top: 280px;
  z-index: 5;
}

.slider-s9_right {
  position: absolute;
  right: 38px;
  top: 280px;
  z-index: 5;
}

.s10 {
  text-align: center;
  .s10-item {
    padding: 0 90px;
    .s10-item-list {
      .s10-title {
        padding: 20px 0 13px;
        font-size: 22px;
        font-weight: bold;
      }
      .s10-text {
        font-size: 18px;
        font-weight: normal;
        margin-bottom: 40px;
      }
    }
  }
}



@import "media";
