@font-face {
font-family: 'uni2';
src: url('5140485.ttf');
}
@font-face {
font-family: 'uni1';
src: url('5139478.ttf');
}
@font-face { font-family: 'PTSansRegular'; src:url(fonts/PTSansRegular.ttf);}
@font-face { font-family: 'PTSansBold'; src:url(fonts/PTSansBold.ttf);}
@font-face { font-family: 'PTSansItalic'; src:url(fonts/PTSansItalic.ttf);}
@font-face { font-family: 'PTSansNarrow'; src:url(fonts/PTSansNarrow.ttf);}
@font-face { font-family: 'PTSansNarrowBold'; src:url(fonts/PTSansNarrowBold.ttf);}
*{padding:0;margin:0;}
body {min-height:100%;background:#e7decd url('../images/bg1.png');font-family:Calibri,Arial,Helvetica,sans-serif;font-weight:300;font-size:15px;color:#000;line-height:1.3;}
.main{width:1150px;margin:0 auto;padding-top:0px;}
html * { max-height:999999px; }

a:link,a:visited,a:hover{color:#222;}

img{border:0}

button::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner{border:none;}

select:focus,input[type="text"]:focus,input[type="password"]:focus,textarea:focus{outline:none}
select option{padding-left:3px;}

.inputText>i{display:block;border:1px solid #a7a7a7;zoom:1;padding:2px 2px;font-style:normal;background:#eee;}
.inputText>i>b{display:block;font-style:normal;*margin:-1px 0 -1px 0;font-weight:normal;}
.inputText input{border:0;display:block;width:100%;background:transparent;line-height:17px;margin:0;font-size:16px;}


.select>i{display:block;border:1px solid #a7a7a7;padding:0px;font-style:normal;background:#eee;}
.select>i>b{display:block;font-weight:normal;zoom:1;overflow:hidden;}
.select>i>b>u{display:block;*margin:0 -4px -2px 0;text-decoration:none;}
.select select{width:100%;border:0;background:transparent;zoom:1;*margin:-2px 0 0 -2px;display:block;}


.textarea>i{display:block;border:1px solid #a7a7a7;zoom:1;padding:2px 2px;font-style:normal;background:#eee;
-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.textarea>i>b{display:block;font-style:normal;*margin:-1px 0 -1px 0;font-weight:normal;}
.textarea textarea{border:0;display:block;width:100%;background:transparent;line-height:17px;overflow:auto;margin:0;font-family:Calibri,Arial,Helvetica,sans-serif;font-size:100%;}

table{border-collapse:collapse}

p{padding-bottom:1em;}
strong{font-weight:bold;}
h1,h2,h3{color:#4c4c4c;padding-bottom:0.5em;}
ul{padding:0 0px 1em 25px;list-style-position:inside;margin:0;}
ul li{list-style-type:disc;padding:3px 0;}
ol{padding:0 0 1em 25px;list-style-position:inside;list-style-type:decimal;margin:0;}
ol li{padding:3px 0 3px 0;}
ol ol{list-style-type:lower-alpha;}
ul ul,
ol ol,
ul ol,
ol ul{padding:0 0 0 25px;}
blockquote{background-color:#eee;border:1px dashed #aaa;color:#000000;display:block;
margin-bottom:1em;padding:10px 15px;font-family:"Courier New",serif;}
div#toc{background-color:#F7F9FA;border:1px solid #8CACBB;padding:10px 10px 10px 30px;margin-bottom:20px;}
div#toc strong{text-align:center;margin:0 0 5px 0;display:block;}
table.wikitable{width:100%;margin-bottom:1em;}
table.wikitable td{border:1px #A4A4A4 solid;padding:2px 5px;background:#f5f5f5;}

.w{background:#fff;padding:15px;margin:8px; margin-bottom:25px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);-moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 7px 7px 7px #332B28;box-shadow: 7px 7px 7px #332B28;}
.w2{background:#fff url(../images/bgbtop.jpg) repeat-x;padding:15px;margin: 8px; margin-bottom:30px;}
.w3{background:#fff url(../images/bgbtop.jpg) repeat-x;padding:0px;margin: 8px; margin-bottom:25px;}
.border2 { border: 1px solid #d1d1d1;}
.blocks .w>.w{padding:0px;margin:0px;-webkit-box-shadow: none;-moz-box-shadow:none;box-shadow: none;}
h1 {
	font-size: 1.7em;
}

#btop { }

.button{font-family:'PTSansRegular',"PT Sans", Calibri,Arial,Helvetica,sans-serif;padding:8px 15px;display:inline;cursor:pointer;text-decoration:none;vertical-align:middle;font-weights: bold}
.button.red{padding:7px 30px 7px 30px;background-color:#FF3C00;color:#fff;font-size:15px;line-height:28px;font-weight: bold}
.button.red2{padding:6px 14px;background-color:#FF3C00;color:#fff;font-weight:bold;font-size:15px;line-height:28px;font-weight: bold}
.button.red3{padding:6px 30px 7px 30px;background-color:#FF3C00;color:#fff;font-size:15px;line-height:28px;font-weight: bold}
.button.red4{padding:6px 14px;background-color:#FF3C00;color:#fff;font-size:14px;line-height:28px;font-weight: bold}
.button.gray{padding:7px 25px;background-color:#cecece;color:#474747;font-size:14px;line-height:28px;}
.button.write>span{padding:3px 0 3px 3px;line-height:28px;}

.topbutton{padding:5px 30px 5px;position:fixed;top:0px;font-size:14px;z-index:500;cursor:pointer;text-align:center;background-color:#fff;
    -webkit-box-shadow: 0px 2px 3px 0px #5F4D40;-moz-box-shadow: 0px 2px 3px 0px #5F4D40;box-shadow: 0px 2px 3px 0px #5F4D40; font-weight:bold;}
.topbutton>a {text-decoration:none;}
.topbutton.needhelp{top:0px;left: 50%; margin-left: -144px;}
.topbutton.needhelp a{padding-left:25px;background:url(../images/icon1.png) 0 0 no-repeat;}
.topbutton.cart{top:0;right: 50%; margin-right:-482px;color:#111111; line-height:1.9em;}
.topbutton.cart a{padding-left:5px;font-family: 'PTSansRegular', 'PT Sans', sans-serif; font-weight:600; font-size:16px;}
.topbutton.active{-webkit-box-shadow: 0px 1px 5px 3px rgba(0,0,0, 0.3);-moz-box-shadow: 0px 1px 5px 3px rgba(0,0,0, 0.3);box-shadow: 0px 1px 5px 3px rgba(0,0,0, 0.3);}
#cartCounter {color:#000000; font-size:16px;}
.leftbutton{padding:8px 16px;position:fixed;font-size:15px;z-index:999;cursor:pointer;text-align:center;background-color:#fff;
    border-top-left-radius: 0px 0px; border-top-right-radius: 0px 0px; border-bottom-right-radius: 8px 8px; border-bottom-left-radius: 8px 8px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);-moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    display:inline-block;*display:inline;zoom:1;vertical-align:top;
    -moz-transform:rotate(-90deg);-moz-transform-origin:0% 0%;
    -o-transform:rotate(-90deg);-o-transform-origin:0% 0%;
    -webkit-transform:rotate(-90deg);-webkit-transform-origin:0% 0%;
    transform:rotate(-90deg);transform-origin:0% 0%;}
.leftbutton.needhelp{top:60%;left:0;}
.leftbutton.needhelp a{padding-left:25px;background:url(../images/icon1.png) 0 0 no-repeat;}

.menu{margin:8px;margin-top:0;}
.menu>ul{list-style:none;font-size:0;padding:0;}
.menu>ul>li{position:relative;display:inline-block;*display:inline;zoom:1;vertical-align:top;word-spacing:0;padding:6px 20px;margin-bottom: 10px;
    -webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;}
.menu>ul>li+li{margin-left:15px;}
.menu a{display:block;font-size:15px;height:20px;line-height:20px;}
.menu li a:link,
.menu li a:visited{text-decoration:none;}
.menu li a:hover{text-decoration:underline;}
.menu>ul>li.parent:hover{border-top-left-radius: 15px 15px; border-top-right-radius: 15px 15px; border-bottom-right-radius: 0px 0px; border-bottom-left-radius: 0px 0px;}
.menu span{margin:6 16px;display:block;color:#a4a4a4;overflow:hidden;}
.menu>ul>li.parent>span{padding-right:15px;background:url(../images/bottom.png) right 7px no-repeat;}
.menu>ul>li>ul{display:none;position:absolute;padding:8px 16px;list-style:none;z-index:10;top:32px;left:0;min-width:200px;
    background-color:rgba(255,255,255,0.3);*background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccffffff,endColorstr=#ccffffff);*zoom: 1;
    border-top-left-radius: 0 0;border-top-right-radius: 15px 15px; border-bottom-right-radius: 15px 15px; border-bottom-left-radius: 15px 15px;}
.menu>ul>li>ul:after{content:' ';clear:both;display:block;width:0;height:0;overflow:hidden;font-size:0;}
.menu>ul>li:hover>ul{display:block;}
.menu>ul>li>ul>li{position:relative;white-space:nowrap;padding:0;}
.menu>ul>li>ul>li+li{padding-top:4px;}
.menu>ul>li>ul>li.active>span{padding-right:15px;background:url(../images/right2.png) right 4px no-repeat;}

.menu2{padding:5px 10px 7px 0px;margin:8px; margin-top: 1px; margin-left:0px;width:1040px; text-align:left;}
.menu2>ul:after{content:' ';clear:both;display:block;width:0;height:0;overflow:hidden;font-size:0;}
.menu2>ul{list-style:none;font-size:0;padding:0;}
.menu2>ul>li{margin:4px 0px 0 15px;position:relative;display:inline-block;*display:inline;zoom:1;vertical-align:top;word-spacing:0;padding:0;}
.menu2>ul>li+li{margin:4px 0px 0 45px;}
.menu2 span{display:block;font-size:15px;color:#a4a4a4;overflow:hidden;}
.menu2 span:last-child {margin: 0px}
.menu2>ul>li.parent>span{padding-right:15px;background:url(../images/bottom.png) right 7px no-repeat;}
.menu2>ul>li>ul{display:none;position:absolute;padding:4px 8px 8px 0;background:#fff;list-style:none;z-index:20;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);-moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);}
.menu2>ul>li>ul:after{content:' ';clear:both;display:block;width:0;height:0;overflow:hidden;font-size:0;}
.menu2>ul>li:hover>ul{display:block;}
.menu2>ul>li>ul>li{position:relative;white-space:nowrap;padding:0;}
.menu2>ul>li>ul>li+li{padding-top:4px;}
.menu2>ul>li.active>span>a{text-decoration:none;}
.menu2>ul>li.active>span>a:hover{text-decoration: underline;}
.menu2 a{text-decoration:none; font-family: 'PTSansRegular', 'PT Sans', sans-serif; font-weight:bold;color:#ffffff !important;font-size:16px;line-height: 20px;text-transform:uppercase;}
.menu2 a:hover{text-decoration: underline;background-color: #464646;}

.block_redtext {
   color: #FF3C00;
}

.block_redtext a  {
   text-decoration:underline;
   color: #FF3C00;
}
.block_redtext  a:hover {
   text-decoration:none;
   color: #FF3C00;
}

.menu3{padding:3px 0px 3px 0px;margin:8px; background:url(../images/shadow3.png) repeat-x; background-color: #5F4E41;
-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;
-webkit-box-shadow: 4px 4px 4px #5F4D40;box-shadow: 4px 4px 4px #5F4D40;
}

.menu3>ul{list-style:none;padding:0;}
.menu3>ul>li{display: inline; display: inline-block;}
.menu3>ul>li+li{border-left:1px solid #EDE5D7;}

.menu3 span{margin:0px 25px 0 25px;}

.menu3 a{text-decoration:underline;font-family: 'PTSansNarrow', 'PT Sans Narrow', sans-serif;font-weight:bold;color:#EDE5D7 !important;font-size:16px;text-transform:uppercase;}
.menu3 a:hover{text-decoration:none;}

.header{margin-top:0px;}
.header>table{width:100%;}
.header>table>tbody>tr>td{padding:8px;}
.header .logo{}
.header .logo img{border:0;max-width:500px;}
.header .cert{-moz-user-select: none;-khtml-user-select: none;user-select: none; }
.header .cert>.items{overflow:hidden;height:110px;text-align:center;}
.header .cert>.items>.item{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:70px;padding:5px;}
.header .cert>.items>.item img{-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);-moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);}
.header .cert>.arrow{width:11px;height:110px;cursor:pointer;}
.header .cert>.arrow.L{float:left;background:url(../images/left.png) center center no-repeat;}
.header .cert>.arrow.R{float:right;background:url(../images/right.png) center center no-repeat;}
.header .contact{text-align:right;}
.header .contact>.phone,.header .contact>.phone2{white-space:nowrap;clear:both; font-weight: 400}
.header .contact>.phone>a>span{float:right;padding-left:50px;font-size:26px;color:white;height:32px;line-height:32px;}
.header .contact>.phone2>a>span{float:right;font-size:26px;color:white;height:36px;line-height:32px;}
.header .contact>.time{color:#ffffff;font-family: 'PTSansRegular', 'PT Sans Narrow', sans-serif;margin-bottom:2px;clear:both; font-size: 13px; font-weight:normal;}
.header .descript{font-size:17px;text-align:center;}
.header .contacts{font-size:15px;}

.blocks{margin-top:0px;}
.blocks>table{width:1165px;border-collapse:separate;border-spacing:16px;margin:-8px;}
.blocks>table>tbody{vertical-align:top;}
.blocks .block{height:100%;}
.block>h2{font-size:15px;padding-bottom:10px;}
.block:after{content:' ';clear:both;display:block;width:0;height:0;overflow:hidden;font-size:0;}
.block>.R{margin-left:105px;color:#575757;}
.block>.L{float:left;width:91px;text-align:center;}
.block>.L img{max-width:91px;}
.block .text{color:#333333;font-size:13px;}
.block .name{font-size:14px;padding-bottom:5px;}
.block .timer{width:124px;height:39px;background:url(../images/clock.png) 0 0 no-repeat;margin:10px auto 0;text-align:center;padding:3px 5px 3px 40px;}
.block .timer>p{font-size:10px;padding:0;}
.block .timer>.digits{font-size:20px;font-weight:normal;line-height:26px;}
.block .timer>.digits span{font-size:16px;}
.block .price{font-size:17px;text-align:center;color:#222;font-weight: bold;}
.block .price2>span{padding-right:18px;background:url(../images/RUB.png) right 3px no-repeat;text-align:center;}
.block .oldprice{font-size:13px;color:#4e4e4e;text-decoration:line-through;text-align:center;}
.block .actions{padding-top:20px;text-align:center;}
.blocks .block>h2{padding-bottom:5px;}
.blocks .w{padding:10px;}
.blocks .text p:last-child{padding-bottom:0;}
.blocks .w2{padding:10px;}


.cats{padding:8px 16px 12px 0;}
.cats>ul:after{content:' ';clear:both;display:block;width:0;height:0;overflow:hidden;font-size:0;}
.cats>ul{list-style:none;font-size:0;padding:0;}
.cats>ul>li{position:relative;display:inline-block;*display:inline;zoom:1;vertical-align:top;word-spacing:0;margin-top:4px;padding:0;}
.cats>ul>li+li{}
.cats span{margin:0 16px 0 16px;display:block;font-size:13px;height:16px;line-height:16px;color:#a4a4a4;overflow:hidden;}
.cats>ul>li.active>span{padding-right:15px;background:url(../images/bottom.png) right 7px no-repeat;}
.cats>ul>li>ul{display:none;position:absolute;padding:4px 8px 8px 0;background:#fff;list-style:none;z-index:20;
    /*border-top-left-radius: 0px 0px; border-top-right-radius: 0px 0px; border-bottom-right-radius: 8px 8px; border-bottom-left-radius: 8px 8px;
    */-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);-moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);}
.cats>ul>li>ul:after{content:' ';clear:both;display:block;width:0;height:0;overflow:hidden;font-size:0;}
.cats>ul>li:hover>ul{display:block;}
.cats>ul>li>ul>li{position:relative;white-space:nowrap;padding:0;}
.cats>ul>li>ul>li+li{padding-top:4px;}
.cats>ul>li>ul>li.active>span{padding-right:15px;background:url(../images/right2.png) right 4px no-repeat;}
.cats>ul>li>ul>li:hover>ul{display:block;}
.cats>ul>li>ul>li>ul{display:none;position:absolute;left:100%;top:-1px;padding:4px 0px 8px;background:#fff;list-style:none;z-index:10;
    /*border-top-left-radius: 0px 0px; border-top-right-radius: 8px 8px; border-bottom-right-radius: 8px 8px; border-bottom-left-radius: 8px 8px;
    */-webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);-moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);}
.cats>ul>li>ul>li>ul>li{white-space:nowrap;overflow:hidden;padding:0;}
.cats>ul>li>ul>li>ul>li+li{padding-top:4px;}

.cats2{}
.cats2>div>h2, .catalog>.head>div>h2, .catalog>.head>h2, .catalog>div>.h2, .search>div>h2, .filter>div>h2, .testimonials>div>h2, .justbuy>div>h2{padding-bottom:10px; font-weight:normal; font-family: 'PTSansRegular', "PT Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif; line-height:2.2em; color:#000000;}
.cats2>div>h2, .search>div>h2, .filter>div>h2, .testimonials>div>h2, .justbuy>div>h2{font-size:20px; padding-left:14px;}
.catalog>.head>div>h2, .catalog>.head>h2, .catalog>div>.h2{font-size:16px;padding-left:14px;}
 .product>div>h2 {font-size:15px;padding-bottom:10px; font-weight:600; font-family:'PTSansRegular', "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif; line-height:2.6em; padding-left:15px;}
.cats2>ul:after{content:' ';clear:both;display:block;width:0;height:0;overflow:hidden;font-size:0;}
.cats2>ul{list-style:none;font-size:0;padding:0;}
.cats2>ul>li{vertical-align:top;word-spacing:0;padding:8px 8px 0px 8px;position:relative;height:25px;list-style:none;}
.cats2>ul>li:hover{background:#464646;}
.cats2>ul>li:hover>span>a{color:#fff;}
.cats2>ul>li.active,
.cats2>ul>li.active:hover{background:#cecece;}
.cats2>ul>li.active2 {background-color:#f0f1f1;}
.cats2>ul>li.active>span>a,
.cats2>ul>li.active:hover>span>a{font-weight:bold;text-decoration:none;color:#474747;}
/*.cats2>ul>li+li{border-top:1px solid #e5e5e5;}*/
.cats2>ul>li.arrow>span{padding-right:15px;background:url(../images/right2.png) right 4px no-repeat;}
.cats2 span{margin:0;display:block;font-family:'PTSansRegular',"PT Sans","Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;font-size:16px;height:16px;line-height:16px;color:#222222;overflow:hidden;padding-bottom:5px;}
.cats2 a{text-decoration:none;}
.cats2>ul>li>ul{display:none; padding:0; list-style: none; margin:0 -8px;background:white;position:relative;top:-26px;left:280px;z-index:25;border-left:5px solid #e5e5e5;
-webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);-moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
}
.cats2>ul>li:hover>ul{display:block;}
.cats2>ul>li:hover>ul>li{ padding:8px 8px 1px 16px; }
.cats2>ul>li>ul>li{position:relative;height:22px;vertical-align:top;word-spacing:0;padding:5px 8px 0px 8px;list-style:none;}
.cats2>ul>li>ul>li+li{border-top:1px solid #e5e5e5;}
.cats2>ul>li>ul>li.arrow>span{padding-right:15px;background:url(../images/right2.png) right 4px no-repeat;}
.cats2>ul>li>ul>li>ul{display:none; padding:0; list-style: none; margin:0 -21px;background:white;position:relative;top:-26px;left:280px;z-index:25;border-left:5px solid #e5e5e5;
-webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);-moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
}
.cats2>ul>li>ul>li:hover>ul{display:block;}
.cats2>ul>li>ul>li:hover>ul>li { padding:6px 8px 1px 16px; }
.cats2>ul>li>ul>li>ul>li{height:20px;vertical-align:top;word-spacing:0;padding:5px 8px 0px 8px;list-style:none;}
.cats2>ul>li>ul>li>ul>li+li{border-top:1px solid #e5e5e5;}

.cats3{margin:8px;}
.cats3>table{width:100%;}
.cats3 td{overflow:hidden;cursor:pointer;
     background:#32C0E2 url(../images/shadow2.png) repeat-x;color:#fff;
-webkit-box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.2);}
.cats3 td:hover{-webkit-box-shadow: inset 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow: inset 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
box-shadow: inset 0px 5px 10px 2px rgba(0, 0, 0, 0.2);}
.cats3 td>a{color:#fff;text-decoration:none;display:block;padding:0 30px;font-size:20px;height:50px;line-height:50px;}
.cats3 td>ul{display:none;position:absolute;padding:0;background:#fff;list-style:none;z-index:10;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);-moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);}
.cats3 td>ul:after{content:' ';clear:both;display:block;width:0;height:0;overflow:hidden;font-size:0;}
.cats3 td:hover>ul{display:block;min-width:200px;}
.cats3 td li{position:relative;white-space:nowrap;padding:0;
-webkit-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.2);}
.cats3 td>a{font-weight: 500;font-size: 24px;}
.cats3 td>ul>li+li{padding-top:4px;}
.cats3 td>ul>li.active>span{padding-right:15px;background:url(../images/right2.png) right 12px no-repeat;}
.cats3 td>ul>li:hover>ul{display:block;}
.cats3 td>ul>li>ul{display:none;position:absolute;left:100%;top:-1px;padding:0;background:#fff;list-style:none;z-index:10;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);-moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);}
.cats3 td>ul>li>ul>li{white-space:nowrap;overflow:hidden;padding:0;}
.cats3 td>ul>li>ul>li+li{padding-top:4px;}
.cats3 span{margin:0 16px 0 16px;display:block;font-size:16px;height:35px;line-height:35px;color:#a4a4a4;overflow:hidden;}
.cats3 span>a{display:block;font-weight: 500;}

.cats4{}
.cats4>h2{font-size:15px;padding-bottom:10px;}
.cats4>ul{list-style:none;font-size:0;padding:0;}
.cats4>ul:after{content:' ';clear:both;display:block;width:0;height:0;overflow:hidden;font-size:0;}
.cats4>ul>li{vertical-align:top;word-spacing:0;padding:10px 0;border-top:1px solid #e5e5e5;font-size:13px;list-style: none;}
.cats4>ul>li:after{content:' ';clear:both;display:block;width:0;height:0;overflow:hidden;font-size:0;}
.cats4>ul>li>.R{margin-left:55px;}
.cats4>ul>li>.L{float:left;width:45px;}
.cats4>ul>li>.L img{width:45px;}
.cats4>ul>li>.R a:first-child{font-size:14px;}

.testimonials{overflow:hidden;}
.testimonials>h2{font-size:15px;padding-bottom:20px;}
.testimonials .item{zoom:1;padding:0 0 20px 0;}
.testimonials .item+.item{border-top:1px solid #e5e5e5;padding:20px 0;}
.testimonials .item:after{content:' ';clear:left;display:block;width:0;height:0;overflow:hidden;font-size:0;}
.testimonials .item>.R{}
.testimonials .item>.L{float:left;width:220px;}
.testimonials .item .text{color:#000000;font-style:italic;padding-bottom:5px;}
.testimonials .item .text>.bullshit{display:none;}
.testimonials .item .author{color:#222;font-size:13px;font-weight:bold;text-align:right;}
.testimonials .all{float:right;color:#a4a4a4;padding-top:6px;}
.testimonials .button{clear:both;}

.justbuy{overflow:hidden;}
.justbuy>h2{font-size:15px;padding-bottom:20px;}
.justbuy .item{zoom:1;padding:0 0 20px 0;}
.justbuy .item+.item{border-top:1px solid #e5e5e5;padding:20px 0;}
.justbuy .item:after{content:' ';clear:both;display:block;width:0;height:0;overflow:hidden;font-size:0;}
.justbuy .item>.R{margin-left:110px;}
.justbuy .item>.L{float:left;width:100px;}
.justbuy .item>.L img{width:100px;}

.filter{position:relative;}
.filter .opt:after{content:' ';clear:both;display:block;width:0;height:0;overflow:hidden;font-size:0;}
.filter>h3{padding-bottom:3px;clear:both; font-family:'PTSansRegular',"PT Sans","Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif; font-size:20px; font-weight:normal; border-bottom: 1px solid #d0d0d0;}
.filter input[type='checkbox'] {width:15px; height:15px;}
.filter .items{margin:10px 10px 15px 10px;}
.filter .items>.item{margin:3px 0;}
.filter .opt>.item{margin:3px 0;min-width:49%;float:left;}
.filter .items>.item>label{padding:0 10px; font-size:14px; font-family:'PTSansRegular',"PT Sans","Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;}
.filter .items>.item input[type='text']{font-size:16px;margin:0 5px;}
.filter .items>.item.slider{margin-top:20px;}
.filter .notice{position:absolute;display:none;top:0px;left:250px;background:#FF3C00;color:#fff;white-space:nowrap;padding:5px 10px;z-index:10;margin-top:-8px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);-moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);}
.filter .notice>a{color:#fff;padding:0 0 0 5px;}
.filter .reset{float:right;position:absolute;top:60px;right:20px;}


.search{}
.search input[type='text']{width:150px;font-size:19px;border:1px solid #cecece;padding:2px 2px 2px 30px;background:#fff url(../images/look.png) 2% center no-repeat;}
.search .button{float:right;border:0;padding:0 7px;line-height:28px;height:28px;}

.pano{margin-bottom:0px;}
.pano>.in{margin:0;height:350px;width:636px;background:#fff;
-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);-moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);}
.pano img{max-width:636px;height:350px;}
.pano .Pager{z-index:5;}
.pano .Pager>.in{text-align:center;padding:10px;margin:-30px auto 0;}
.pano .Pager>.in>a{background:url(../images/points_sprite.png) 0 0 no-repeat;width:11px; height:11px;display:inline-block;margin:3px;}
.pano .Pager>.in>a.active{background-position:right center;}
.pano .Slider>a{display:block;width:636px;height:344px;}

.body:after{content:' ';clear:both;display:block;width:0;height:0;overflow:hidden;font-size:0;}
.body>.L{margin-right:298px;padding:1px 0 8px;}
.body>.R{float:right;width:298px;padding:1px 0 8px;}
.body>.R>.w+.w{margin-top:16px;}
.body>.L>.w+.w{margin-top:16px;}
.body .cats>ul:after{clear:none;}
.body img{max-width:600px;}

.catalog{overflow:hidden;padding-right:10px;padding-left:10px; font-family:'PTSansRegular',"PT Sans","Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;}
.catalog>div+div{padding:15px 0px 0;}
.catalog>.head{padding:0 0 10px 0;margin:0 10px;}
.catalog>.cats{padding:10px 0 14px;}
.catalog .items{margin:0;padding-left:10;padding-right:0; min-width:640px}
.catalog .items>.item{position: relative;display:inline-block;*display:inline;zoom:1;vertical-align:top;width:245px;padding:0 0 40px 0;margin:0 10px;}
.catalog .items>.item h3{height: 40px;padding-bottom:3px;font-size:16px;font-weight:bold; font-family:'PTSansRegular',"PT Sans","Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;}
.catalog .items>.item h3>a{text-decoration:none;color:#4c4c4c;}
.catalog .items>.item h2{padding-bottom:5px;font-size:16px;font-weight:500;text-align:center;}
.catalog .items>.item h2>a{text-decoration:none;}
.catalog .items>.item .img{position:relative;height:214px;overflow:hidden}
/*.catalog .items>.item .img:after{content:' ';padding-bottom:60px;width:55px;height:80px;overflow:hidden;
    background:url(../images/promo.png) 0 0 no-repeat;position:absolute;top:-10px;right:0px;z-index:5;}*/
.catalog .items>.item .img img{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;width:244px;;margin-top:-15px;}
.catalog .items>.item .img.new:after{content:' ';padding-bottom:54px;width:54px;height:0;overflow:hidden;
    background:url(../images/new.png) 0 0 no-repeat;position:absolute;top:0px;right:0px;z-index:5;}
.catalog .items>.item .img.hit:after{content:' ';padding-bottom:54px;width:54px;height:0;overflow:hidden;
    background:url(../images/hit.png) 0 0 no-repeat;position:absolute;top:0px;right:0px;z-index:5;}
.catalog .items>.item .img.discount:after{content:' ';padding-bottom:54px;width:54px;height:0;overflow:hidden;
    background:url(../images/skidka.png) 0 0 no-repeat;position:absolute;top:0px;right:0px;z-index:5;}
/*.catalog .items>.item .img.promo:after{content:' ';padding-bottom:60px;width:55px;height:80px;overflow:hidden;
    background:url(../images/promo.png) 0 0 no-repeat;position:absolute;top:-10px;right:0px;z-index:5;} */
.catalog .items>.item .brief{font-size:13px;color:#474747;padding: 0px 0px 5px 0px;}
.catalog .items>.item .price{font-size:18px;color:#222;;font-weight: bold;}
.catalog .items>.item .price2>span{padding-right:18px;background:url(../images/RUB.png) right 3px no-repeat;}
.catalog .items>.item .oldprice{font-size:15px;font-style:italic;color:#777777;text-decoration:line-through;}
.catalog .items>.item .actions{padding-top:0px;white-space: nowrap; margin-top:12px;}
.catalog .items>.item .param{padding-bottom:10px;}
.catalog .items>.item .param select{max-width:192px;}
.catalog .uppercats{padding:0 0 5px 0;}
.catalog .basement{border-top:1px solid #e5e5e5;padding:10px 10px 20px 10px;margin:15px 0 -1em 0;}
.catalog>.text{padding:0 5px;}
.catalog .items>.item:after{
	content:' ';
	width:55px;
	height:80px;
	overflow:auto;
	background:url(../images/promo.png) 0 0 no-repeat;
	position:absolute;
	top:38px;
	right:-10px;
	z-index:5;
}

.product{overflow:hidden;}
.product:after{content:' ';clear:both;display:block;width:0;height:0;overflow:hidden;font-size:0;}
.product>.R{color:#575757;margin-left:490px;}
.product>.L{float:left;width:380px;text-align:center;padding:0 15px 15px 0;}
.product .text{color:#000000;font-size:14px;padding:5px 0;}
.product .text table{width:100%;margin-bottom:1em;}
.product .text table td{border:1px #A4A4A4 solid;padding:2px 5px;background:#f5f5f5;}
.product .text ul{padding-left:0px; margin: 0px; padding: 0px;}
.product .text img{}
.product .text iframe{margin-bottom:15px;}
.product .price{font-size:17px;text-align:center;color:#222;padding-bottom:10px;;font-weight: bold;}
.product .price2>span{padding-right:18px;background:url(../images/RUB.png) right 3px no-repeat;text-align:center;}
.product .oldprice{font-size:17px;font-style:italic;color:#777777;text-decoration:line-through;text-align:center;}
.product .actions{padding-top:10px;text-align:center;margin:0 auto;}
.product .param{padding-bottom:10px;}
.product .img{position:relative;width:460px; margin-top:10px; height: 460px;}
.product .img img{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;width:460px;}
/*.product .img:after{content:' ';padding-bottom:50px;width:55px;height:80px;overflow:hidden;
    background:url(../images/promo.png) 0 0 no-repeat;position:absolute;top:0px;right:10px;z-index:15;}*/
.product .img.new:after{content:' ';padding-bottom:44px;width:44px;height:0;overflow:hidden;
    background:url(../images/new.png) 0 0 no-repeat;position:absolute;top:0px;right:0px;z-index:15;}
.product .img.hit:after{content:' ';padding-bottom:44px;width:44px;height:0;overflow:hidden;
    background:url(../images/hit.png) 0 0 no-repeat;position:absolute;top:0px;right:0px;z-index:15;}
.product .img.discount:after{content:' ';padding-bottom:44px;width:44px;height:0;overflow:hidden;
    background:url(../images/skidka.png) 0 0 no-repeat;position:absolute;top:0px;right:0px;z-index:15;}
/*.product .img.promo:after{content:' ';padding-bottom:50px;width:55px;height:80px;overflow:hidden;
    background:url(../images/promo.png) 0 0 no-repeat;position:absolute;top:0px;right:0px;z-index:15;}*/
.product .img>a{cursor:pointer;position:relative;display:block;}
/*.product .img>a:after{content:' ';padding-top:21px;width:21px;height:0;overflow:hidden;
    background:url(../images/plus.png) 0 0 no-repeat;position:absolute;bottom:4px;left:4px;}   */
.product .vk_like{padding:20px 0 0;}
.product #vk_comments{margin:50px 0 10px;clear:both;}
.product .album{margin:20px 0 10px;text-align:left;}
.product .album img{width:65px;padding:3px;}
.product .uppercats{padding:0 0 10px 0;}
.product .basement{border-top:1px solid #e5e5e5;padding:10px 0 0;margin:15px 0 -1em 0;clear: both;}
.product h1{font-size:20px;}

.blog{overflow:hidden;}
.blog .item{zoom:1;padding:0 0 20px 0;}
.blog .item+.item{border-top:1px solid #e5e5e5;padding:20px 0;}
.blog .item:after{content:' ';clear:left;display:block;width:0;height:0;overflow:hidden;font-size:0;}
.blog .item .text{color:#575757;padding:5px 0;}
.blog .item .date{color:#222;font-size:10px;font-weight:bold;text-align:right;}
.blog .rss{float:right;margin:0;padding: 0 0 0 18px;width:0;height:18px;overflow: hidden;background: url(../images/rss.png) 0 0 no-repeat;}

.cart{}
.cart table{width:100%;margin-bottom:15px;}
.cart table>*>tr>td{border:1px solid #ccc;font-style:normal;padding:3px;}
.cart table>thead>tr>td{vertical-align:bottom;padding:5px 0;border-color:#eee #eee #ccc;background:#eee;white-space:nowrap;}
.cart table>thead>tr>td:first-child{text-align:center;padding-left:5px;padding-right:5px;border-right-color:#ccc;border-left-color:#eee;}
.cart table>thead>tr>td+td{padding-left:5px;padding-right:5px;border-color:#eee #ccc #ccc;text-align:center;}
.cart table>thead>tr>td:last-child{border-right-color:#eee;}
.cart table>tbody>tr>td{vertical-align:center;}
.cart table>tbody>tr>td:first-child{padding:2px 8px;}
.cart table>tbody>tr>td+td{width:30px;}
.cart table>tbody>tr>td+td input{text-align:center;}
.cart .button.delete{font-style:normal;font-size:20px;padding:2px 10px;}
img.toCart{position:absolute;z-index:1000;-webkit-box-shadow: 0px 1px 5px 3px rgba(0,0,0, 0.3);-moz-box-shadow: 0px 1px 5px 3px rgba(0,0,0, 0.3);box-shadow: 0px 1px 5px 3px rgba(0,0,0, 0.3);}

.foot{min-width:1150px;width:100%;background:#fff;margin-top:0px;}
.foot>.in{width:1140px;margin:0 auto;zoom:1;padding:25px 0 15px;font-size:13px;}
.foot>.in:after{content:' ';clear:both;display:block;width:0;height:0;overflow:hidden;font-size:0;}
.foot>.in>.L{float:left;width:200px;font-size:14px; min-height:90px;display:inline-block;}
.foot>.in>.R{float:right;width:170px; margin:0px;text-align:right;min-height:90px;display:inline-block;}
.foot>.in>.C{text-align:center;width:660px;margin:0;min-height:90px; display:inline-block;}
.foot .phone>span{font-size:21px;color:#ffffff;}
.foot >.in>.R>.time{color:#ffffff;font-family:'PTSansRegular',"PT Sans", 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif;margin-bottom:2px;clear:both; font-size: 11px; font-weight:normal;}
.foot .skype{padding-left:25px;background:url(../images/skype.png) 0 0 no-repeat;}
.foot .icq{padding-left:25px;background:url(../images/icq.png) 0 0 no-repeat;}
.foot .email{padding-left:25px;background:url(../images/email.png) 0 0 no-repeat;}

.oPager{font-size:0;margin:0 0 0 10px;text-align:center;}
.oPager>a,
.oPager>i,
.oPager>ins{display:-moz-inline-stack;display:inline-block;zoom:1;font-size:14px;margin-left:5px;
padding:0 6px;height:22px;line-height:22px;}
.oPager>a:first-child,
.oPager>ins:first-child,
.oPager>i:first-child{margin-left:0;}
.oPager a:link,
.oPager a:visited{background:transparent;color:#222;}
.oPager a:hover{background:#CECECE;color:#fff;}
.oPager ins{text-decoration:none;}
.oPager i{font-style:normal;background:#D20F24;color:#fff;}

.oT2>table{width:100%;}
.oT2>table>tbody>tr>td{vertical-align:top;padding:5px 0 5px 0;}
.oT2>table>tbody>tr>td+td{width:5000px}
.oT2>table>tbody>tr>td[colspan="2"]{width:100%;}
.oT2>table>tbody>tr>td:first-child>span{display:block;white-space:nowrap;padding:1px 10px 0 0;font-style:italic;}
.oT2>table>tbody>tr>td.empty{overflow:hidden;text-indent:-9999px;}
.oT2>table>tbody>tr>td>.error{color:#c00;clear:both;font-size:17px;padding:1px 0 3px 2px;}
.oT2>table>tbody>tr>td>.value{padding:3px 0 0}
.oT2>table>tbody>tr>td>.Example{color:gray;font-size:10px;font-style:italic}


.PopupBlock{padding:20px;color:#222;*background:#fff;}
.PopupBlock .Title{font-size:28px;padding:5px 0 10px; width:100%;}
.PopupBlock .Descr{padding:0 0 10px;}
.PopupBlock .Buttons{font-size:0;padding:5px 0 0;}
.PopupBlock .Buttons>.button+.button{margin-left:10px;}
.PopupBlock .catalog{padding:0;}
.PopupBlock .catalog .items>.item{width:150px;}
.PopupBlock .catalog .items>.item .img img{width:150px;}

.DarkBg{position:fixed;top:0;left:0;width:100%;height:100%;background:#000;z-index:500;
opacity:0.5;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);}
.Popup{position:absolute;left:55%;z-index:501;}
.Popup>.in{position:relative;}
.Popup>.in>.Bg{position:absolute;top:0;bottom:0;left:0;right:0;}
.Popup>.in>.Bg>.t{position:absolute;height:33px;background:url(../images/Popup1.png) 0 0 no-repeat;
top:0;left:0;right:0;}
.Popup>.in>.Bg>.t>i{display:block;background:url(../images/Popup1.png) 100% -33px no-repeat;padding:0 34px;}
.Popup>.in>.Bg>.t>i>b{display:block;background:url(../images/Popup1.png) 0 -66px repeat-x;
padding-top:33px;height:0;overflow:hidden;font-size:0;}
.Popup>.in>.Bg>.b{position:absolute;height:33px;background:url(../images/Popup1.png) 0 -99px no-repeat;
bottom:0;left:0;right:0;}
.Popup>.in>.Bg>.b>i{display:block;background:url(../images/Popup1.png) 100% -132px no-repeat;padding:0 34px;}
.Popup>.in>.Bg>.b>i>b{display:block;background:url(../images/Popup1.png) 0 -165px repeat-x;
padding-top:33px;height:0;overflow:hidden;font-size:0;}
.Popup>.in>.Bg>.m{height:100%;overflow:hidden;}
.Popup>.in>.Bg>.m>i{display:block;height:100%;margin-top:-33px;overflow:hidden;}
.Popup>.in>.Bg>.m>i>b{display:block;height:100%;margin-top:66px;
background:url(../images/Popup2.png) -34px 0 repeat-y;overflow:hidden;}
.Popup>.in>.Bg>.m>i>b>u{display:block;text-decoration:none;height:100%;margin-right:-34px;
background:url(../images/Popup2.png) 100% 0 repeat-y;padding:0 68px 0 34px;}
.Popup>.in>.Bg>.m>i>b>u>tt{display:block;height:100%;background:#fff;font-size:0;}
.Popup>.in>.C{position:relative;min-height:34px;padding:11px 16px 21px;}
.Popup>.in>.C .CloseButton{position:absolute;width:57px;padding-top:56px;height:0;overflow:hidden;font-size:0;
background:url(../images/Popup1.png) 0 -198px no-repeat;top:-10px;right:-10px;
cursor:pointer;z-index:4;}
.Popup>.in>.C .CloseButton:hover{opacity:0.9;}

.container{
	padding-top: 100px;
	width: 94%;
	max-width: 1300px;
	margin: 0 auto;
}

.time2{
	display: block;
    margin: 0 auto;
    padding: 10px 0 20px;
    position: relative;
    text-align: center;
}

.time2 *{vertical-align: top;}

.time2 ins,
.time2 .clock{
	position: relative;
	top: 10px;
	width: 40px;
	height: 55px;
	display: inline-block;
	*display: inline;
	zoom: 1;
	background: transparent url(i/sprites.png) no-repeat -260px -154px;
}

.time2 .clock{margin-right: 7px;}

.time2 ins{width: 10px;}

.time2 ins{background-position: -300px -154px;}

.time2 .etitle{
	position: absolute;
	width: 110px;
	text-align: center;
	left: 50%;
	margin-left: -47px;
	top: 55px;
	line-height: 30px;
}

.time3{
	display: block;
    margin: 0 auto;
    padding: 10px 0 20px;
    position: relative;
    text-align: center;
}

.time3 *{vertical-align: top;}

.time3 ins,
.time3 .clock{
	position: relative;
	top: 10px;
	width: 40px;
	height: 55px;
	display: inline-block;
	*display: inline;
	zoom: 1;
	background: transparent url(i/sprites.png) no-repeat -260px -154px;
}

.time3 .clock{margin-right: 7px;}

.time3 ins{width: 10px;}

.time3 ins{background-position: -300px -154px;}

.time3 .etitle{
	position: absolute;
	width: 110px;
	text-align: center;
	left: 50%;
	margin-left: -47px;
	top: 55px;
	line-height: 30px;
}

.etitle-1{font-size: 1.6em;}

.etitle-2{
	font-size: 1.37em;
	padding-top: .1em;
}

.etitle-3{
	font-size: 1.12em;
	padding-top: .2em;
}

.etitle-4{
	font-size: .87em;
	padding-top: .3em;
}

.c-block{
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin: 0 5px 0 3px;
	padding: 4px 0 20px 3px;
	position: relative;
	background: transparent url(i/sprites.png) no-repeat -260px 0;
}

.c-block2{
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin: 0 5px 0 3px;
	padding: 4px 0 20px 3px;
	position: relative;
	background: transparent url(i/sprites.png) no-repeat -260px 0;
}


.c-block:before{
	content: '';
	position: absolute;
	left: 100%;
	top: 0;
	width: 31px;
	background: transparent url(i/sprites.png) no-repeat 100% -77px;
	height: 77px;
}

.c-block2:before{
	content: '';
	position: absolute;
	left: 100%;
	top: 0;
	width: 31px;
	background: transparent url(i/sprites.png) no-repeat 100% -77px;
	height: 77px;
}

.bl-inner{
	position: relative;
	margin-right: -10px;
	height: 48px;
	background: transparent url(i/sprites.png) no-repeat -5px -48px;
}

.bl-inner2{
	position: relative;
	margin-right: -10px;
	height: 48px;
	background: transparent url(i/sprites.png) no-repeat -5px -48px;
}

.bl-inner span{
	display: none;
	font-size: 46px;
	color: #fff;
	line-height: 46px;
	margin-left: 2px;
}

.bl-inner2 span{
	display: none;
	font-size: 46px;
	color: #fff;
	line-height: 46px;
	margin-left: 2px;
}

.bl-inner:before{
	content: '';
	position: absolute;
	left: 100%;
	top: 0;
	width: 3px;
	background: transparent url(i/sprites.png) no-repeat -122px -48px;
	height: 48px;
}

.bl-inner2:before{
	content: '';
	position: absolute;
	left: 100%;
	top: 0;
	width: 3px;
	background: transparent url(i/sprites.png) no-repeat -122px -48px;
	height: 48px;
}



.c-block-1{width: 20px;}
.c-block-2{width: 45px;}
.c-block-3{width: 70px;}

#gpWidget{z-index:101;}

.img_testimonial {
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.sizes {
   font-family:Calibri,Arial,Helvetica,sans-serif;
   font-size: 13px;
   border-color: #5F4D40;
}

.sizes tr td {
  padding: 5px 2px 5px 2px;
  text-align: center;
}

.call8 a{text-decoration:underline;font-family: 'PTSansBold', sans-serif;font-weight:bold;color:#FF3C00 !important;font-size:16px;line-height: 20px;text-transform:uppercase;}
.call8 a:hover{text-decoration:none;}

.header{
min-height: 170px;
}
.header .logo{
	float: left;
	margin-top:19px;
	margin-left:8px;
}
.header .contact{
	float: right;
}
.blockspecial .left-widget{
	float: left;
	width: 40%;
}
.blockspecial .right-widget{
	float: right;
	width: 59%;
}
.header{
min-height: 141px;
}

.product-item2 .best-seller {
    height: 60px;
    left: -12px;
    position: absolute;
    top: 40px;
    width: 60px;
    z-index: 2;
    background-image: url(../i/bestseller2.png);
    padding: 0px;
}

.product-item2 {
	position: relative;
}
}