body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222222;
  background-color: #fff;
}
p {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}
li {
  list-style: none;
}

.img {
  display: block;
}
.gif {
  width: 100%;
}

.list {
  
  padding: 0;
  padding-bottom: 15px;
 
}

.list li {
  font-size: 18px;
  position: relative;
  padding-left: 22px;
  padding-right: 10px;
 
  margin-top: 17px;
  line-height: 24px;
}

.list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 20px;
  height: 20px;
  background: url(../img/icon-true.png) no-repeat;
}

.list.false li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 20px;
  height: 20px;
  background: url(../img/icon-false.png) no-repeat;
}

main {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  overflow: hidden;
}
.container {
  padding: 0 30px;
}

.color-green {
 color: #4dc25e;
}

.color-orange {
  color: #ff7600;
}

.color-blue {
  color: #00a1de;
}

.green-bg {
  background-color: #86cc00;
}

.orange-bg {
  padding: 4px 12px;
  color: #fff;
  border-radius: 9px;
  background-image: linear-gradient(to right, #ff1e41, #ff4f08);
}

.color-turquoise {
  color: #f2f7ff;
}

h1,
h2,
h3 {
 
  font-family: 'Ubuntu', sans-serif;
}

h2,
h3 {
  color: #222;
  margin: 0;
  margin-bottom: 33px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  line-height: normal;
}

.slider-icon_left-gray {
  position: absolute;
  left: 30px;
  top: 40%;
  z-index: 5;
}

.slider-icon_right-gray {
  position: absolute;
  right: 30px;
  top: 40%;
  z-index: 5;
}

.slider-icon_left{
  position: absolute;
  top: 350px;
  left: 50px;
  z-index: 5;
}

.slider-icon_right {
  position: absolute;
  top: 350px;
  right: 50px;
  z-index: 5;
}
