@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), local('Roboto-Thin'), url('../fonts/robotothin1bb6c.html') format('woff2'), url('../fonts/robotothinc1994.html') format('woff'), url('../fonts/robotothin70afb.html') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('../fonts/robotothinitalic590fc.html') format('woff2'), url('../fonts/robotothinitalic723d7.html') format('woff'), url('../fonts/robotothinitalic274b9.html') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/robotolight1dadf.html') format('woff2'), url('../fonts/robotolight0620c.html') format('woff'), url('../fonts/robotolight85040.html') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('../fonts/robotolightitalic83a8f.html') format('woff2'), url('../fonts/robotolightitalicada8e.html') format('woff'), url('../fonts/robotolightitalic3240d.html') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/robotoe374a.html') format('woff2'), url('../fonts/roboto70090.html') format('woff'), url('../fonts/roboto3c245.html') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'), url('../fonts/robotoitalic21554.html') format('woff2'), url('../fonts/robotoitalicce905.html') format('woff'), url('../fonts/robotoitalicfc375.html') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/robotomedium1da8b.html') format('woff2'), url('../fonts/robotomediumca32a.html') format('woff'), url('../fonts/robotomedium2ffe6.html') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('../fonts/robotomediumitalicc1d4c.html') format('woff2'), url('../fonts/robotomediumitalic8d7b3.html') format('woff'), url('../fonts/robotomediumitalic84f25.html') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/robotobolda870d.html') format('woff2'), url('../fonts/robotoboldb6adf.html') format('woff'), url('../fonts/robotobold1dc6b.html') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('../fonts/robotobolditalic26097.html') format('woff2'), url('../fonts/robotobolditalic9e6f2.html') format('woff'), url('../fonts/robotobolditalicb3d35.html') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'), url('../fonts/robotoblackc1d0e.html') format('woff2'), url('../fonts/robotoblack0047b.html') format('woff'), url('../fonts/robotoblack38796.html') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('../fonts/robotoblackitalica36e1.html') format('woff2'), url('../fonts/robotoblackitalic1603a.html') format('woff'), url('../fonts/robotoblackitalic7dcda.html') format('truetype');
    font-weight: 900;
    font-style: italic;
}
