body {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    color: #222222;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

main {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    padding: 0 30px;
}

.gif {
    display: block;
    width: 100%;
}

.list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
}

.list li {
    font-size: 16px;
    position: relative;
    padding-left: 30px;
    padding-right: 40px;
    margin-bottom: 15px;
    font-weight: bold;
}

.list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 22px;
    height: 25px;
    background: url(../img/icon-true.png) no-repeat;
}

.color-yellow {
    color: #ffd225;
}

.color-blue {
    color: #1cbce1;
}

.color-green {
    color: #54c80a;
}

.color-orange {
    color: #ff4b38;
}

.orange-bg {
    padding: 4px 12px;
    color: #fff;
    border-radius: 9px;
    background-image: linear-gradient(to right, #ff1e41, #ff4f08);
}

.color-turquoise {
    color: #f2f7ff;
}

h2,
h3 {
    color: #222;
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    margin: 0;
    margin-bottom: 44px;
    line-height: 1.2;
}

.img-top {
    display: block;
    margin-bottom: 40px;
}

.slider-s3_left {
    position: absolute;
    left: 20px;
    top: 150px;
    z-index: 5;
}

.slider-s3_right {
    position: absolute;
    right: 20px;
    top: 150px;
    z-index: 5;
}

.slider-s6_left {
    position: absolute;
    left: 0px;
    bottom: 20px;
    z-index: 5;
}

.slider-s6_right {
    position: absolute;
    right: 0px;
    bottom: 20px;
    z-index: 5;
}

.title-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    .slick-active {
        button {
            opacity: 1;
            background-color: #64d559;
        }
    }
    button {
        width: 12px;
        height: 12px;
        border: none;
        border-radius: 50%;
        background-color: #d2d2e0;
        font-size: 0;
        padding: 0;
        cursor: pointer;
        display: block;
        margin: 10px 5px;
    }
}

.slider-s10_left {
    position: absolute;
    left: 50px;
    top: 330px;
    z-index: 5;
}

.slider-s10_right {
    position: absolute;
    right: 50px;
    top: 330px;
    z-index: 5;
}

.slider-s11_left {
    position: absolute;
    left: 20px;
    top: 150px;
    z-index: 5;
}

.slider-s11_right {
    position: absolute;
    right: 20px;
    top: 150px;
    z-index: 5;
}