@import "vars";
@import "libs";
@import "fonts";
@import "global";
@import "slick";

.s1 {
  position: relative;
  padding-top: 30px;
  background: url(../img/s1-bg.png) no-repeat, url(../img/bg.png);
}

.s1-title {
  color: #fff;
  flex-direction: column;
  margin-bottom: 607px;

  .s1-suptitle {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 45px;
    width: 300px;
    position: relative;

    padding-left: 30px;
    &::before {
      content: "";
      position: absolute;
      left: -30px;
      top: 0px;
      width: 60px;
      height: 63px;
      z-index: 5;
      background: url(../img/icon-box.png) no-repeat;
    }
  }
}
h1 {
  position: relative;
  font-size: 64px;
  font-weight: bold;
  line-height: 0;

  span {
    position: absolute;
    top: -25px;
    right: 40px;
    z-index: 5;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    padding: 5px 8px;

    border-radius: 9px;
    background-color: rgb(232, 28, 46);
  }
}

.s1-block {
  position: absolute;
  top: 194px;
  left: 194px;
  width: 96px;
  height: 96px;
  padding: 6px 5px 5px;
  border-radius: 50%;
  border: solid 3px #ffc000;
  background-color: rgba(17, 17, 19, 0.5);
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.discount {
  display: none;
  position: absolute;
  width: 120px;
  height: 120px;
  top: 492px;
  right: 0;
  z-index: 5;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  color: #19191b;
  z-index: 4;
  text-transform: uppercase;
  background: url(../img/icon-discount.png) no-repeat;
  .discount-text {
    position: absolute;
    transform: rotate(-45deg);
    z-index: 5;
    right: -8px;
    top: 56px;
  }
}

.s1-list {
  display: flex;
  justify-content: space-between;
  color: #fff;
  text-align: center;
  margin-bottom: 37px;
  .s1-list-item {
    width: 34%;
    p {
      padding: 0 8px;
    }
  }
}
.price {
  display: flex;
  justify-content: space-between;
}

.price-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  line-height: 55px;
  .price-title {
    line-height: 20px;
  }
}

.promo {
  color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 9px;
  border: dashed 2px #33333a;
  background-color: #19191b;

  font-size: 20px;
  font-weight: 700;
  span {
    font-weight: bold;
    text-transform: uppercase;
  }
}

.price-old-val {
  font-size: 32px;
  font-weight: bold;
  text-decoration: line-through;
}

.price-new-val {
  line-height: 40px;
  font-size: 42px;
  font-weight: bold;

  margin-bottom: 5px;
  letter-spacing: 0;
}
.form-wrapper {
  margin: 0 auto;

  box-sizing: border-box;
  padding-bottom: 50px;
}

.timer-cont {
  border-radius: 9px;
  border: dashed 2px #33333a;
  background-color: #19191b;
  margin-bottom: 36px;
  padding: 0 20px;
  color: #fff;
  h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 10px;
    color: #fff;
    text-align: center;
  }
}

.form-wrapper-block {
  display: flex;
  margin-bottom: 40px;
}

.form-item {
  margin-top: 20px;
  
  input {
    &::placeholder {
      text-align: center;
      color: #222222;
    }
  }
}

.form-control {
  border: 0;
  width: 100%;
  height: 66px;

  box-sizing: border-box;


  border-radius: 9px;
  background-color: rgb(255, 255, 255);
  outline: none;

  color: #222222;
  font-size: 18px;

  background-repeat: no-repeat;
  background-position: 30px center;
}

.form-control:focus {
  border: 1px solid #acacac;
}

.countryselect {
  padding-left: 110px;
  -ms-appearance: none;
  appearance: none !important;
}

.nice-select {
  float: unset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nice-select .list {
  width: 100%;
}

.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 80px;
  margin: 0 auto;
  padding: 26px;
  box-sizing: border-box;

  border: 0;
  outline: none;
  text-shadow: 0.5px 0.9px 0 #1114181c;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 40px;
  background-color: #e81c2e;
}

.form-count {
  color: #fff;
  margin: 26px 0 0;
  text-align: center;
  font-size: 16px;
  span {
    font-weight: bold;
  }
}

.s2 {
  padding: 40px 0;
  .s2-item {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .s2-item-list {
      width: 50%;
      margin-bottom: 40px;
      p {
        padding: 10px 25px;
      }
    }
  }
}

.s3 {
  padding: 37px 0;
  background: url(../img/bg.png);
  h2 {
    color: #fff;
  }
  .s3-item {
    border-radius: 9px;
    background-color: #ffffff;
    .s3-item-list {
      p {
        font-size: 16px;
        padding: 20px 30px;
      }
      .s3-title {
        font-size: 22px;
        font-weight: bold;
        span {
          font-size: 24px;
          line-height: 1.25;
        }
      }
      .s3-img {
        padding-left: 30px;
        padding-right: 15px;
      }
      .s3-block {
        display: flex;
        align-items: center;
        .year {
          font-size: 32px;
          font-weight: bold;
          padding: 0;
        }
      }
    }
  }
}

.s4 {
  padding: 40px 0;
  .s4-item {
    .s4-item-list {
      border-radius: 9px;
      box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
      background-color: #ffffff;
      margin-bottom: 40px;
      .s4-block-text {
        padding: 25px 30px;
        .s4-title {
          font-size: 22px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        .s4-text {
          font-size: 16px;
        }
      }
    }
  }
  .s4-footer {
    text-align: center;
    margin-bottom: 36px;
  }
}

.s6 {
  padding: 36px 0;
  .img {
    margin-bottom: 40px;
  }
  .s6-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    .s6-item-list {
      margin-bottom: 40px;
      width: 49%;
      p {
        font-weight: 600;
        padding-top: 10px;
      }
    }
  }
}

.s7 {
  padding: 40px 0 0;
  background: url(../img/bg.png);
  h2 {
    color: #fff;
    span {
      font-size: 30px;
    }
  }
  .s7-item {
    border-radius: 9px;
    background-color: #ffffff;
    margin-bottom: 40px;
    .s7-text {
      padding: 30px;
      h3 {
        font-size: 30px;
        font-weight: bold;
        border-bottom: 3px solid #e81c2e;
        margin-bottom: 20px;
      }
      span {
        font-weight: bold;
      }
    }
  }
}

.s8 {
  background-color: #f2f2f2;

  position: relative;
  padding: 30px 0;
  h2 {
    margin: 0;
    margin-bottom: 22px;
  }
  .container {
    padding: 0 20px;
  }
}

.header-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 30px;
  .slick-active {
    button {
      width: 30px;
      height: 10px;
      opacity: 1;
      border-radius: 5px;
      background-color: #39b972;
    }
  }
  button {
    border: none;

    background-color: rgba(57, 185, 114, 0.3);

    font-size: 0;
    padding: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    margin: 10px;
  }
}

.s8-block {
  margin-bottom: 20px;
}
.s8-block.white-block {
  border-radius: 9px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
  background-color: rgb(255, 255, 255);

  margin: 0 20px;
  background-color: #fff;
}
.s8-block.white-block .s8-img {
  width: 100%;
  margin-bottom: 30px;
}
.s8-block.white-block .s8-text {
  margin: 0;
  margin-bottom: 27px;

  padding: 0 30px;
}

.s8-block.white-block {
  .block-name {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 30px;
    .name {
      padding-left: 20px;
      text-align: left;
    }
  }
}

.slider-s8_left {
  position: absolute;
  right: 95px;
  top: 280px;
  z-index: 5;
}

.slider-s8_right {
  position: absolute;
  right: 38px;
  top: 280px;
  z-index: 5;
}

.s9 {
  padding: 20px 0 0;
  background-color: #edf0f5;
  h2 {
    margin: 0;
  }
}

.s9-list-item {
  position: relative;
  height: 130px;

  display: flex;
  flex-direction: column;
  color: #222;
  min-height: 86px;
  margin-bottom: 20px;
  margin-top: 25px;

  padding: 10px 20px 0 165px;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 9px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
  background-color: rgb(255, 255, 255);
}
.s9-list-item p {
  line-height: 24px;
  margin: 0;
  font-size: 16px;
}
.s9-list-item img {
  position: absolute;
  top: 0;
  left: 0;
}

.s9-text {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

@import "media";
