
@font-face {
	font-family: 'Montserrat', sans-serif;
	src: url('../fontsMontserrat-Bold.eot');
	src: local('Montserrat Bold'), local('Montserrat-Bold'),
		url('../fontsMontserrat-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fontsMontserrat-Bold.woff') format('woff'),
		url('../fontsMontserrat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat', sans-serif;
	src: url('../fontsMontserrat-Regular.eot');
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
		url('../fontsMontserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fontsMontserrat-Regular.woff') format('woff'),
		url('../fontsMontserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat', sans-serif;
	src: url('../fontsMontserrat-Black.eot');
	src: local('Montserrat Black'), local('Montserrat-Black'),
		url('../fontsMontserrat-Black.eot?#iefix') format('embedded-opentype'),
		url('../fontsMontserrat-Black.woff') format('woff'),
		url('../fontsMontserrat-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
