
@font-face {
    font-family: 'als_rublregular';
    src: url('../fonts/roublebe433.woff2') format('woff2'),
         url('../fonts/rouble0ffbe.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}