/*block1*/
/* after_qbici */
.block1 {
    height: 764px;
    background: url(img/bg1.jpg) no-repeat center top;
    padding: 84px 0 0;
}

.block1.end {
    height: 670px;
    background-image: url(img/bg1.jpg);
    background-size: cover;
}

.block1 p.subtitle {
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fddb3d;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.125;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

.block1 h1.main_title {
    margin: 5px 0 30px;

    font-weight: 700;
    font-size: 30px;
    line-height: 1.25;
    color: #fff;
    text-transform: none;
    padding: 0 9px;
    width: 272px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: red;
}

.block1.end h3.main_title {
    margin: 15px 0 20px;
    font-weight: 700;
    font-size: 46px;
    line-height: 54px;
    color: #fff;
    text-transform: none;
    padding: 0 9px;
    width: 406px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: red;
}

.block1.end h3.main_title span {
    display: block;
    max-width: 425px;
    font-size: 23px;
    line-height: normal;
}

.topplus {
    width: 365px;
    font-size: 0;
    margin-bottom: 45px;
    border-radius: 12px;
    padding: 10px;
    background-color: #f2f4f5;
}

.main_img {
    position: absolute;
    top: 10px;
    right: 0;
    width: 540px;
}

.block1.end .topplus {
    display: none;
}

.topplus li {
    margin: 0 0 10px;
    padding: 0 0 0 32px;
    font-size: 14px;
    line-height: 24px;
    background-color: #fff;
}

.topplus li:nth-child(1) {
    background: url(img/offer__icon1.png) left center no-repeat;
}

.topplus li:nth-child(2) {
    background: url(img/offer__icon2.png) left center no-repeat;
}

.topplus li:nth-child(3) {
    margin: 0;
    background: url(img/offer__icon3.png) 1px center no-repeat;
}

.stock {
    width: 300px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    padding-top: 22px;
}

.stock span {
    display: inline-block;
    margin-left: 5px;
    color: #333;
    font-weight: 700;
    background: #fff;
    padding: 1px 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.block1.end .stock {
    color: #333;
}

.block1.end .stock span {
    color: #fff;
    background: #dc89eb;
}

.sale {
    width: 110px;
    height: 110px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    border: 5px solid #fff;
    background: rgba(247, 174, 142, 0.8);
    padding-top: 12px;
    position: absolute;
    top: 105px;
    left: 510px;
    z-index: 1;
}

.block1.end .sale {
    top: 200px;
    left: 510px;
}

.sale p {
    font-size: 34px;
    line-height: 34px;
}

/*block2*/
/* endzeit_____ */
.block2 {
    padding: 0;
}

.block2 .about_block {
    padding: 195px 0 130px;
    background: #222;
    color: #fff;
}

.block2 .container .images_block {
    float: left;
    width: 460px;
    height: 603px;
    margin: 0 40px 0 0;
    background: #fff;
    position: relative;
}

.block2 .container .images_block img {
    display: block;
    float: left;
    width: 100%;
}

.block2 .container .images_block img:nth-child(1) {
    margin: 0 2px 2px 0;
}

.block2 .container .images_block img:nth-child(2) {
    margin: 0 0 2px;
}

.block2 .container .images_block img:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
}

.block2 .container > .content {
    padding: 50px 0 0;
    overflow: hidden;
}

.block2 .container > .content:before {
    display: block;
    content: "";
    margin: 0 0 11px;
    width: 80px;
    height: 6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fddb3d;
}

.block2 .container p {
    padding: 11px 0;
}

.block2 .container p:last-child {
    font-weight: 700;
}

.preim {
    margin-top: -80px;
    background: #fff url(img/ph9.png) no-repeat right top;
    color: #222;
    padding: 30px 0 0;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
}

.preim ul {
    font-size: 0;
    text-align: center;
    width: 620px;
}

.preim ul li {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.preim ul li p {
    font-size: 15px;
    padding: 1px 20px 30px;
    line-height: 22px;
}

.preim ul li:before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background: #fafafa center no-repeat;
    border: 1px solid #e9e9e9;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto 10px;
    background-size: contain;
}

.p0 {
    padding: 0;
}

.preim ul li:nth-child(1):before {
    background-image: url(img/ph5.png);
}

.preim ul li:nth-child(2):before {
    background-image: url(img/ph6.png);
}

.preim ul li:nth-child(3):before {
    background-image: url(img/ph7.png);
}

.preim ul li:nth-child(4):before {
    background-image: url(img/ph8.png);
}

/* gallery */

.gallery_section {
    margin: -145px auto;
    padding: 0;
}

.gallery_section img {
    display: block;
    float: left;
    margin: 0 35px 0 0;
    width: 290px;
    border: 3px solid #fff;
}

.gallery_section img:last-child {
    margin: 0;
}

/* characteristics */

.characteristics_section .images_block {
    margin: 0 0 35px;
}

.characteristics_section .images_block .item {
    display: block;
    float: left;
    margin: 0 20px 40px 0;
    width: 293px;
    text-align: center;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding: 7px 7px 15px;
}

.characteristics_section .images_block .item img {
    width: 279px;
    height: 279px;
}

.characteristics_section .images_block .item:hover {
    box-shadow: none;
}

.characteristics_section {
    margin-top: 30px;
}

.tit {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 23px;
}

.item .button-m {
    width: 100%;
    float: none;
    height: 59px;
    line-height: 59px;
}

.item .price {
    background: none;
    width: 100%;
    margin: 15px 0;
    float: none;
    color: black;
    font-size: 19px;
    text-align: center;
}

.item .button-m {
    font-size: 17px;
}

.old-price {
    text-decoration: line-through;
    opacity: 0.8;
}

.new-price {
    font-size: 23px;
    margin-left: 8px;
}

.characteristics_section ul {
    margin: 0 0 35px;
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
    text-align: center;
}

.characteristics_section ul li {
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;
    width: 20%;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: normal;
}

.characteristics_section ul li:nth-child(3) {
    padding: 0;
}

.characteristics_section ul li b {
    display: block;
}

.characteristics_section ul li b:after {
    display: block;
    content: "";
    margin: 5px auto;
    width: 30px;
    height: 1px;
    background-color: #dc89eb;
}

.characteristics_section ul li span {
    white-space: nowrap;
}

.characteristics_section .button-m {
    float: left;
}

/*block3*/
/* michael-k90 */
.gallery img {
    display: block;
    margin: 0 auto;
}

/*block4*/
/* bizlife_inc */
.block4 {
    background: url(https://women-designer-dresses-summer-autumn2020.bestseller-2020.ru/img/b3.jpg) no-repeat center top;
    height: 694px;
    padding: 100px 0 0;
    overflow: hidden;
}

.block4 h2 {
    color: #c7a252;
    font-size: 32px;
    margin-bottom: 12px;
}

.charbox {
    position: relative;
}

.char {
    font-size: 15px;
    margin-bottom: 25px;
}

.char li {
    margin-bottom: 5px;
}

.charleft {
    background: #fff;
    width: 481px;
    padding: 36px 0 46px 40px;
}

.charimg {
    display: block;
    position: absolute;
    top: -54px;
    right: 0;
}

/*block5*/
/* owmen17 */
.block5 {
    background: #fafafa;
    padding-bottom: 10px;
}

.block5 h2 {
    margin-bottom: 0;
}

.rev {
    background: #fff;
    width: 290px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
    margin: 30px auto;
}

.rev > p {
    padding: 20px;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
}

.rev > p:after {
    content: "";
    display: block;
    background: url(img/reviews__quote_icon.png) no-repeat center top;
    height: 25px;
    margin: 15px 0 0;
}

.rev .person {
    padding: 0 20px 20px;
}

.rev .person img {
    display: block;
    float: left;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0 12px 0 0;
}

.rev .person h3 {
    font-size: 16px;
    text-transform: none;
    overflow: hidden;
    padding-top: 4px;
}

.rev .person span {
    font-size: 15px;
    overflow: hidden;
    line-height: 22px;
}

.block56 {
    background: #f2f4f5;
    padding: 60px 0;
}

.bigtable {
    font-size: 14px;
    text-align: center;
}

.bigtable tr {
    border-bottom: 1px solid #f2f4f5;
}

.bigtable tr:first-child td {
    font-weight: 700;
}

.bigtable tr td {
    background: #fff;
    padding: 14px 0;
    width: 42px;
    line-height: 18px;
}

.bigtable tr td:nth-child(even) {
    background: #e3e4e6;
}

/*block6*/
/* after_qbici */
.block6 {
    background: #e5a488 url(https://women-designer-dresses-summer-autumn2020.bestseller-2020.ru/img/bg1.jpg) no-repeat
        center top;
    height: 473px;
    color: #fff;
    padding: 40px 0 0;
}

.block6 h2 {
    text-align: left;
    margin-bottom: 20px;
}

.ship {
    width: 390px;
}

.ship li {
    padding: 20px 0 0;
}

.ship li:before {
    content: "";
    display: block;
    width: 75px;
    height: 75px;
    background: url(img/order_info__info1_icon.png) 0 0 no-repeat;
    float: left;
    margin: 0 20px 0 0;
}

.ship li:not(:last-child) p {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.ship p {
    font-size: 15px;
    line-height: 22px;
    overflow: hidden;
    padding: 3px 0 23px 0;
}

.ship li:nth-child(2) p {
    padding: 3px 70px 23px 0;
}

.ship li:nth-child(3) p {
    padding: 3px 31px 23px 0;
}

.ship li:nth-child(2):before {
    background-image: url(img/order_info__info2_icon.png);
}

.ship li:nth-child(3):before {
    background-image: url(img/order_info__info3_icon.png);
}

/*block7*/
/* endzeit_____ */
.formbox {
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 360px;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
    padding: 27px 0 23px;
    z-index: 3;
    position: relative;
}

.formbox .price {
    margin: 0 auto;
}

.formbox .stock {
    width: 100%;
}

.action {
    text-align: center;
    padding: 14px 0;
}

/*block8*/
/* michael-k90 */

/*block9*/
/* bizlife_inc */

.charimg2 {
    display: none;
}

/*block10*/
/* owmen17 */

/* gift */

.gift_section {
    padding-top: 0;
    background: #fafafa;
}

.gift_section .title_block {
    float: left;
    width: 350px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
}

.gift_section .title_block p:nth-child(1) {
    margin: 0 0 15px;
    padding: 10px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #202d40;
    font-size: 32px;
    line-height: 38px;
    color: #fff;
    text-align: center;
}

.gift_section .title_block p:nth-child(2) {
    margin: 0 0 5px;
    font-size: 28px;
    line-height: 34px;
    color: #202d40;
}

.gift_section .title_block p:nth-child(3) {
    font-size: 40px;
    line-height: 46px;
    color: #c7a252;
}

.gift_section .image {
    display: block;
    float: left;
    margin: 0 0 10px -11px;
}

.gift_section .images_block {
    clear: both;
}

.gift_section .images_block:after {
    display: block;
    content: "";
    clear: both;
}

.gift_section .images_block img {
    display: block;
    float: left;
    margin: 0 35px 0 0;
    width: 290px;
}

.gift_section .images_block img:last-child {
    margin: 0;
}

/* *** */

.footer {
    text-align: center;
    padding: 40px 0 30px;
}

.footer a {
    font-size: 14px;
    color: #333;
}

/*-------------------------------------- Media Queries ----959---------------------------------*/
/* after_qbici */
@media screen and (max-width: 976px) {
    .block1 p.subtitle {
        font-size: 23px;
    }

    .block1 {
        background-position: 38%;
        background-size: cover;
        height: 720px;
    }

    .block1.end .main_img {
        width: 326px;
        top: 150px;
    }

    .block1 h1 span {
        font-size: 68px;
    }

    .topplus {
        width: 380px;
        padding: 18px 3px 19px 15px;
        z-index: 2;
        position: relative;
    }

    .block1 h1.main_title {
        margin: 5px 0 10px;
        padding: 0 9px;
        width: 406px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: red;
    }

    .block1.nach .price {
        float: left;
        margin-top: 113px;
    }

    .block1.nach .button-m {
        float: right;
        margin-top: 109px;
    }

    .sale {
        top: 88px;
        left: 440px;
    }

    .main_img {
        top: 60px;
        right: 0;
        width: 345px;
    }

    .characteristics_section .images_block .item {
        margin: 0 20px 40px 0;
        width: 300px;
    }

    .characteristics_section .images_block .item:nth-of-type(3n) {
        margin: 0 20px 40px 0;
    }

    .characteristics_section .images_block .item:nth-of-type(2n) {
        margin-right: 0;
    }

    .block1.end .sale {
        top: 98px;
        left: 380px;
    }

    .gallery_section {
        margin: -100px 0;
        padding: 0;
    }

    .gallery_section img {
        margin: 0 10px 0 0;
        width: 200px;
    }

    .block2 .about_block {
        padding: 135px 0 100px;
    }

    .block2 .container .images_block {
        float: none;
        margin: 0 auto 35px;
    }

    .block2 .container > .content {
        padding: 0;
        text-align: center;
    }

    .block2 .container > .content:before {
        margin: 0 auto 11px;
    }

    .characteristics_section .images_block {
        margin: 0 0 35px;
    }

    .characteristics_section .images_block img {
        margin: 0 10px 10px 0;
    }

    .characteristics_section ul {
        margin: 0;
    }

    .characteristics_section ul li {
        margin: 0 0 35px;
        padding: 0 25px;
        width: 33%;
    }

    .characteristics_section .price {
        margin: 4px 20px 10px 0;
    }

    .preim {
        background: #fff;
    }

    .block1.end h3.main_title {
        color: black;
    }

    .block4 {
        background: url(https://women-designer-dresses-summer-autumn2020.bestseller-2020.ru/img/b3m.jpg) no-repeat
            center top;
        height: auto;
        padding-bottom: 100px;
    }

    .charimg {
        display: none;
    }

    .charimg2 {
        display: block;
        position: absolute;
        top: -54px;
        right: -25px;
    }

    .charleft {
        padding-left: 30px;
        width: 100%;
    }

    .reviews .slick-dots {
        bottom: -20px;
    }

    .reviews .slick-prev,
    .reviews .slick-next {
        bottom: -23px;
    }

    .ship {
        width: 350px;
    }

    .ship p {
        padding: 3px 12px 23px 0 !important;
    }

    .block6 {
        background-position-x: -420px;
    }

    .block5 {
        padding-bottom: 25px;
    }

    .end .wrap {
        padding: 0;
    }

    .gift_section .title_block {
        width: 100%;
        text-align: center;
    }

    .gift_section .title_block p:nth-child(1) {
        margin: 0 auto 15px;
        width: 350px;
    }

    .gift_section .title_block p:nth-child(3) {
        margin: 0 0 30px;
    }

    .gift_section .image {
        float: none;
        margin: 0 auto 10px;
    }

    .gift_section .images_block img {
        margin: 0 10px 0 0;
        width: 200px;
    }
}

/*-------------------------------------- Media Queries ----639---------------------------------*/
/* michael-k90 */
@media screen and (max-width: 659px) {
    .stock {
        margin: 0 auto;
    }

    .block1 {
        padding: 10px;
    }
    .block1 h1.main_title,
    .block1.end h3.main_title {
        color: #fff;
    }

    .block1.nach .price,
    .block1.nach .button-m {
        float: none;
        margin-top: 40px;
    }

    .characteristics_section .images_block .item {
        margin: 0 auto 40px;
    }

    .block1 p.subtitle {
        display: block;
        margin: 0 auto;
        width: 260px;
        text-align: center;
    }

    .block1 h1.main_title,
    .block1.end h3.main_title {
        margin: 10px 0 28px;
        width: 100%;
        font-size: 44px;
        line-height: 50px;
        text-align: center;
    }

    .block1 .wrap {
        padding: 0;
    }

    .block1 h1 span {
        font-size: 48px;
    }

    .block1.end .sale {
        top: 395px;
        left: 10px;
    }

    .sale {
        display: none;
    }

    .block1 p.subtitle {
        font-size: 24px;
    }

    .price,
    .button-m {
        margin-left: auto;
        margin-right: auto;
    }

    .topplus {
        width: 300px;
        margin: 55px auto 30px;
        position: relative;

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .topplus li {
        position: relative;
    }

    .block1.end:before {
        top: 302px;
    }

    .block1.end .topplus {
        display: block;
    }

    .main_img {
        top: 378px;
        right: 0;
        width: 100%;
        position: initial;
    }

    .topplus li {
        font-size: 15px;
        line-height: 22px;
    }

    h2.title,
    .block6 h2 {
        font-size: 22px;
        text-align: center;
    }

    .block2 .about_block {
        padding: 35px 0 100px;
    }

    .block2 .container .images_block {
        display: none;
    }

    .preim ul {
        width: 100%;
    }

    .preim ul li {
        width: 100%;
    }

    .slick-prev {
        left: 20px;
    }

    .slick-next {
        right: 20px;
    }

    .charimg2 {
        display: none;
    }

    .charleft {
        padding: 20px 15px 18px;
    }

    .block4 {
        padding: 40px 0;
        background: url(https://women-designer-dresses-summer-autumn2020.bestseller-2020.ru/img/b3s.jpg) no-repeat
            center top;
    }

    .block4 h2 {
        font-size: 22px;
        text-align: center;
    }

    .block4 .button-m {
        width: 100%;
    }

    .block6 {
        background-position-x: left !important;
        padding: 30px 0;
    }

    .block1.end h3.main_title span {
        font-size: 24px;
    }

    .block1 h1.main_title,
    .block1.end h3.main_title {
        font-size: 35px;
    }

    .block6 .wrap {
        padding-left: 10px;
    }

    .ship {
        width: 100%;
    }

    .ship p {
        padding: 3px 0 23px 0 !important;
    }

    .formbox {
        width: 100%;
        padding: 13px 0 20px;
    }

    .gift_section .title_block p:nth-child(1) {
        width: 100%;
        font-size: 26px;
        line-height: 32px;
    }

    .gift_section .title_block p:nth-child(2) {
        font-size: 24px;
        line-height: 30px;
    }

    .gift_section .title_block p:nth-child(3) {
        margin: 0 0 20px;
        font-size: 24px;
        line-height: 30px;
    }

    .gift_section .images_block img {
        float: none;
        margin: 0 auto 20px;
        width: 290px;
    }

    .gift_section .images_block img:last-child {
        margin: 0 auto;
    }

    .gallery_section {
        margin: 0;
        padding: 35px 0 0;
        background: #222;
    }

    .gallery_section img {
        float: none;
        margin: 0 auto 20px;
        width: 290px;
    }

    .gallery_section img:last-child {
        margin: 0 auto;
    }

    .characteristics_section .images_block img {
        float: none;
        margin: 0 auto 20px !important;
    }

    .characteristics_section .images_block img:nth-child(5),
    .characteristics_section .images_block img:nth-child(6) {
        display: none;
    }

    .characteristics_section .images_block img:last-child {
        margin: 0 auto;
    }

    .characteristics_section ul li {
        margin: 0 0 30px;
        padding: 0;
        width: 100%;
    }

    .characteristics_section .price {
        float: none;
        margin: 0 auto 20px;
    }

    .characteristics_section .button-m {
        margin: 0 auto;
    }
}

.cat-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}