
@font-face {
    font-family: 'als_rublregular';
    src: url('roublebe433.woff2') format('woff2'),
         url('rouble0ffbe.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}